<div class="as--profile-wrapper form--profile">
  
  <%= form_for(@profile) do |f| %>
    <% if @profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul class="main">
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :avatar, 'display picture' %>
    <%= f.file_field :avatar %>

    <%= f.label :first_name, class: 'required' %>
    <%= f.text_field :first_name, placeholder: 'Enter your first name', required: true %>

    <%= f.label :last_name, class: 'required' %>
    <%= f.text_field :last_name, placeholder: 'Enter your last name' %>

    <% if current_user.profile.present? %>
      <% if current_user.profile.is_admin? %>
          <%= f.label :role %>
          <%= select('profile', 'role', Profile::ROLE, {include_blank: true})%>
      <% end %>
    <% end %>

    <%= f.label :school, 'school/organization' %>
    <%= f.text_field :school, placeholder: 'Enter the name of your school or organization' %>

    <%= f.label :province, 'What province are you based out of?', class: 'required' %>
    <%= select('profile', 'province', Profile::PROVINCES, {include_blank: true})%>
    

    <%= f.label :gender %>
    <span class="internal font-quicksand">(for internal use only)</span>
    <%= f.text_field :gender %>

    <%= f.label :years_of_experience %>
    <span class="internal font-quicksand">(for internal use only)</span>
    <div class="select-wrap">
      
      <%= select('profile', 'years_of_experience', Profile::YEARS_OF_EXPERIENCE, {include_blank: true})%>
    </div>
  

    <%= f.label :teaching_role, 'What is your role in teaching kids to code?', class: 'required' %>
    <%= f.text_field :teaching_role %>



    <%= f.label :grade, 'What grades do you teach', class: 'required' %>
    <%= f.text_field :grade %>

    <%= f.label :number_of_students, 'How many students per class?', class: 'required' %>
    <%= f.text_field :number_of_students %>
    <div class="wrapper--flex">
      <%= f.check_box :mailing_list %>
      <%= f.label :mailing_list, 'Yes, opt me into the Mailing List to be the first to hear about industry news, upcoming workshops and events', class: 'mailing-label' %>
    </div>



    <div class="actions wrapper--flex">
      <%= f.submit 'Create Profile', class: "button button--primary" %>
      <%= link_to edit_user_registration_path, class: 'link--underlined link--underlined-small' do%>
        <i class="fa fa-cog" aria-hidden="true"></i> Edit account settings
      <% end %> 

    </div>
    <p class="internal right"><span class="required"></span> =Required Field</p>
  <% end %>
</div>
