<p id="notice"><%= notice %></p>
<div class="wrapper">
  <ul class="tabs">
    <li class="tab-link current" data-tab="profile-tab">My Profile</li>
    <li class="tab-link" data-tab="my-lessons-tab">My Lessons</li>
    <li class="tab-link" data-tab="favourite-lessons-tab">Favourite Lessons</li>
  </ul>
  <div class="center tab-content current" id="profile-tab">
    <%= image_tag @profile.avatar.url(:thumbnail), class: 'as--profile-avatar' %>
    <h3><%= @profile.first_name %> <%= @profile.last_name %></h3>
    <h4>grade: <%= @profile.grade %></h4>
    <h4>school: <%= @profile.school %></h4>
  </div>
  <div class="wrapper--flex tab-content" id="my-lessons-tab">
    <%= render 'lesson', locals: {lessons: @lessons}%>
  </div>
  <div class="wrapper--flex tab-content" id="favourite-lessons-tab">
      <%= render 'lesson', locals: {lessons: @favourites}%>
  </div>
</div>



<br>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>

<script>
  $('ul.tabs li').click(function(){
    var tab_id = $(this).attr('data-tab');

    $('ul.tabs li').removeClass('current');
    $('.tab-content').removeClass('current');

    $(this).addClass('current');
    $("#"+tab_id).addClass('current');
  })
</script>
