<p id="notice"><%= notice %></p>
<%= image_tag @profile.avatar.url %>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>School:</strong>
  <%= @profile.school %>
</p>

<p>
  <strong>Role:</strong>
  <%= @profile.role %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @profile.grade %>
</p>

<p>
  <strong>Mailing list:</strong>
  <%= @profile.mailing_list %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
