<div class="wrapper--small">
  
  <h2>Edit Your Account Settings</h2>
  <div class="as--profile-wrapper form--profile">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%= f.label :email, class: 'required'%>
    <%= f.input_field :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.label 'New Password', :password, class: 'required'%>
    <%= f.input_field :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.label 'Confirm New Password', :password_confirmation, class: 'required'%>
    <%= f.input_field :password_confirmation, required: false %>

    <%= f.label :current_password, class: 'required'%>
    <%= f.input_field :current_password, required: true %>


    <div class="form-actions">
      <%= f.button :submit, "Update Settings", class: 'button button--primary' %>
    </div>
    <% end %>
     <p class="internal right"><span class="required"></span> =Required Field</p>
  </div>
</div>
