<%= simple_form_for(@glossary, remote: true) do |f| %>
  <%= f.error_notification %>
    <div class="term"><%= f.input :term %></div>
    <div class="def"><%= f.input :definition %></div>
  	<div class="form-actions">
    	<%= f.submit 'edit', class: 'button button--submit' %>
  	</div>
<% end %>
