<ul class="main list--admin">
	<%= @glossaries.find_each do |item|%>
		<li id="term_<%= item.id%>">
			<div class="term"><p><%= item.term%></p></div>
			<div class="def"><p><%= item.definition%></p></div>
			<div class="actions">
				<%= link_to 'delete', glossary_path(item), method: :delete, data: { confirm: 'Are you sure?' }, remote: true%>
				<%= link_to 'edit', edit_glossary_path(item), remote: true%>
			</div>
		</li>
	<% end %>
</ul>
