<ul class="list--lessons-admin list--lessons font-quicksand">
  <% @lessons.each do |lesson|%>
    <li>
      <span class="<%= lesson.status%>"><%= lesson.status%></span>
      <span><%= lesson.verified?%></span>
      <span><%= link_to lesson.title, edit_lesson_path(lesson) %></span>
      <span><%= lesson.author %></span>
      <span><%= lesson.format_date(lesson.created_at)%></span>
      <span>
      <% if !lesson.approved %>
        <%= link_to lesson_path(lesson),
    data: { confirm: 'Are you sure you want to delete this lesson?' }, method: :delete, class:'as--lesson-delete' do %><i class="fa fa-trash" aria-hidden="true"><% end %></i>
      <% end %>
      </span>
    </li>
  <% end %>
</ul>