<div class="wrapper--small">
  <h2>Forgot your password?</h2>
  <div class="as--profile-wrapper form--profile">

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <%= f.label :email, class: 'required'%>
    <%= f.input_field :email, required: true, autofocus: true %>

    
    <%= f.button :submit, "Send me reset password instructions", class: 'button button--primary' %>
    <% end %>
    <div class="as--other-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
