<div class="as--about-wrap">
  <div class="wrapper">
    <h1><%= t('dictionary.about') %></h1>
  </div>
</div>
<section class="wrapper wrapper--flex as--about-page">
  <div>
    <p><%= t('about-us.about-us-1_html')%></p>
    <p><%= t('about-us.about-us-2') %></p>
    <p><%= t('about-us.about-us-3') %></p>
    <h2 class="as--admin-title"><%= t('dictionary.howto') %></h2>
    <p><%= t('about-us.about-us-4') %></p>
    <p><%= t('about-us.about-us-5') %></p>
  </div>
  <aside>
    <h2><%= t('dictionary.download-guide')%></h2>
    <div>  
      <%= image_tag 'tlc-howtoguide-mockup.png'%>
      <a href="#" class="button button--primary" data-open="pdf_download"><%= t('dictionary.download') %></a>
      <p><%= t('about-us.guide-description') %></p>
      <%= link_to t('dictionary.download-guide'), 'assets/TLC-gettingstartedguide.pdf', :target => '_blank', class: 'display-none', id: 'pdf'%>
    </div>
  </aside>
</section>
<section class="wrapper as--about-page">
  <h2 class="as--admin-title"><%= t('about-us.learn-more')%></h2>
  <div class="wrapper--flex button-boxes button-boxes--light"> 
    <%= link_to glossaries_path do%>
      <h3><%= t('about-us.read-glossary') %></h3>
      <div class="button button--primary"><%= t('dictionary.glossary') %></div>
    <% end %>  
    <a href="#">
      <h3><%= t('about-us.review-list') %></h3>
      <div class="button button--primary"><%= t('about-us.more-resources')%></div>
    </a>
    <a href="mailto:carolyn@ladieslearningcode.com">
      <h3><%= t('about-us.more-resources') %></h3>
      <div class="button button--primary"><%= t('about-us.email-us') %></div>
    </a>
  </div>
</section>



    

  
  
 

<!--     <a href="#" class="button button--primary" target="_blank" data-open="slack">Join<br>the Forum</a> -->
 


<div class="modal--overlay">
  <div class="modal modal--about" id="slack">
    <form action="https://script.google.com/macros/s/AKfycbyPQ7KkP-dG-Ubxq98uftLjVvacMDSmxJNtSFhLyc5tIijX3cE/exec" id="slack-form" method="post">
      <label for="name">your name</label>
      <input type="text" id="name" name="name" value="">
      <label for="email">your email</label>
      <input type="email" id="email" name="email" value="">
      <input type="submit" value="join" class="button button--primary">
    </form>
  </div>
  <div class="modal modal--about" id="thank-you">
    <p class="center">Thank you! You will receive an invite to our Slack group shortly.</p>
  </div>
  <div class="modal modal--about" id="pdf_download">
      <%= simple_form_for(@download_list, remote: true, :authenticity_token => true) do |f| %>
        <%= f.error_notification %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :email %>
          <%= f.button :submit, 'Download', class:'button button--primary', download: 'assets/TLC-gettingstartedguide.pdf', id: 'pdf-trigger' %>
      <% end %>
  </div>
</div>



<script>

  $('[data-open]').on('click', function(e){
    e.preventDefault()
    var modal = $(this).data('open')
    $('#' + modal +', .modal--overlay').css('display', 'block').addClass('active')
  });

  $('#pdf-trigger').on('click', function(){
    $('#pdf').trigger('click')
  })

  $('.modal--overlay').on('click', function(){
    
    if($('.modal').hasClass('active')){
      $('.modal.active, .modal--overlay').removeClass('active').css('display', 'none');
    }
  });
  $('.modal').on('click', function(e){
    e.stopPropagation();
  });

  (function ($) {

    $('#new_download_list').submit(function(){
     $('.modal.active, .modal--overlay').removeClass('active').css('display', 'none');
     document.getElementById('pdf').click()
    })
      $.fn.serializeFormJSON = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
          if (o[this.name]) {
            if (!o[this.name].push) { o[this.name] = [o[this.name]]; }
            o[this.name].push(this.value || '');
          } else { o[this.name] = this.value || ''; }
        });
        return o;
      };
    })(jQuery);
  var request;
  $('#slack-form').submit(function(e){
    var $form = $(this)
    var serializedData = $form.serializeFormJSON()
    console.log(serializedData)
    var $inputs = $form.find("input, select, button, textarea");
    request = $.ajax({
      url: 'https://script.google.com/macros/s/AKfycbyPQ7KkP-dG-Ubxq98uftLjVvacMDSmxJNtSFhLyc5tIijX3cE/exec', 
      type: 'post', 
      data: serializedData
    });

     // Callback handler that will be called on success
    request.done(function (response, textStatus, jqXHR){
        // Log a message to the console
        $('.modal.active').removeClass('active').css('display', 'none');
        
        $('#thank-you').css('display', 'block').addClass('active');
        setTimeout(function(){
          $('#thank-you').css('display', 'none').removeClass('active');
          $('.modal--overlay').css('display', 'none').removeClass('active');
        }, 2000)

    });

    // Callback handler that will be called on failure
    request.fail(function (jqXHR, textStatus, errorThrown){
        // Log the error to the console
        console.error(
            "The following error occurred: "+
            textStatus, errorThrown
        );
    });
    request.always(function () {
            // Reenable the inputs
            $inputs.prop("disabled", false);
        });
    e.preventDefault()
  });
   
</script>