<div class="as--about-wrap">
  <div class="wrapper">
    <h1>About Us</h1>
  </div>
</div>
<section class="wrapper wrapper--flex as--about-page">
  <div>
    <p>Teachers Learning Code is designed by <a href="http://ladieslearningcode.com/" target="_blank">Ladies Learning Code</a> and proudly supported by <a href="http://www.scotiabank.com/ca" target="_blank">Scotiabank</a> for educators focused on inspiring kids to be builders – not just consumers - of technology through coding activities and challenges.</p>
    <p>It’s all about using technology and changing the world through teamwork, creativity, and, of course, code.</p>
    <p>Whether you’re a teacher in a classroom, a program coordinator at a community centre, a home-schooling parent or a Girl Guide troop leader - we’ve put together a comprehensive how-to guide and lesson planning tool to help you teach kids to code.</p>
    <h2 class="as--admin-title">How-To Guide</h2>
    <p>We’ve combined our experiences teaching thousands of youth across the country to code, our tips and tricks to get started, resources to familiarize yourself with code, plus lots of easy to follow and even easier to implement coding activities to empower and teach the future generation of technologists across Canada.</p>
    <p>We encourage you to use as much or as little of the guide as you like, to remix the challenges we’ve created or create new ones and share them with our community.</p>
  </div>
  <aside>
    <h2>Download the Guide</h2>
    <div>  
      <%= image_tag 'tlc-howtoguide-mockup.png'%>
      <a href="#" class="button button--primary" data-open="pdf_download">Download</a>
      <p>This guide is your jumping off point - where you choose to take your program is up to you!</p>
      <%= link_to 'Download The Guide', 'assets/TLC-gettingstartedguide.pdf', :target => '_blank', class: 'display-none', id: 'pdf'%>
    </div>
  </aside>
</section>
<section class="wrapper as--about-page">
  <h2 class="as--admin-title">Want to learn more?</h2>
  <div class="wrapper--flex button-boxes button-boxes--light"> 
    <%= link_to glossaries_path do%>
      <h3>Read our glossary of coding concepts</h3>
      <div class="button button--primary">Glossary</div>
    <% end %>  
    <a href="#">
      <h3>Review our list of resources + tools</h3>
      <div class="button button--primary">More Resources</div>
    </a>
    <a href="mailto:carolyn@ladieslearningcode.com">
      <h3>Send us a message</h3>
      <div class="button button--primary">Email Us</div>
    </a>
  </div>
</section>



    

  
  
 

<!--     <a href="#" class="button button--primary" target="_blank" data-open="slack">Join<br>the Forum</a> -->
 


<div class="modal--overlay">
  <div class="modal modal--about" id="slack">
    <form action="https://script.google.com/macros/s/AKfycbyPQ7KkP-dG-Ubxq98uftLjVvacMDSmxJNtSFhLyc5tIijX3cE/exec" id="slack-form" method="post">
      <label for="name">your name</label>
      <input type="text" id="name" name="name" value="">
      <label for="email">your email</label>
      <input type="email" id="email" name="email" value="">
      <input type="submit" value="join" class="button button--tertiary">
    </form>
  </div>
  <div class="modal modal--about" id="thank-you">
    <p class="center">Thank you! You will receive an invite to our Slack group shortly.</p>
  </div>
  <div class="modal modal--about" id="pdf_download">
      <%= simple_form_for(@download_list, remote: true, :authenticity_token => true) do |f| %>
        <%= f.error_notification %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :email %>
          <%= f.button :submit, 'Download', class:'button button--primary', download: 'assets/TLC-gettingstartedguide.pdf', id: 'pdf-trigger' %>
      <% end %>
  </div>
</div>



<script>

  $('[data-open]').on('click', function(e){
    e.preventDefault()
    var modal = $(this).data('open')
    $('#' + modal +', .modal--overlay').css('display', 'block').addClass('active')
  });

  $('#pdf-trigger').on('click', function(){
    $('#pdf').trigger('click')
  })

  $('.modal--overlay').on('click', function(){
    
    if($('.modal').hasClass('active')){
      $('.modal.active, .modal--overlay').removeClass('active').css('display', 'none');
    }
  });
  $('.modal').on('click', function(e){
    e.stopPropagation();
  });

  (function ($) {

    $('#new_download_list').submit(function(){
     $('.modal.active, .modal--overlay').removeClass('active').css('display', 'none');
     document.getElementById('pdf').click()
    })
      $.fn.serializeFormJSON = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
          if (o[this.name]) {
            if (!o[this.name].push) { o[this.name] = [o[this.name]]; }
            o[this.name].push(this.value || '');
          } else { o[this.name] = this.value || ''; }
        });
        return o;
      };
    })(jQuery);
  var request;
  $('#slack-form').submit(function(e){
    var $form = $(this)
    var serializedData = $form.serializeFormJSON()
    console.log(serializedData)
    var $inputs = $form.find("input, select, button, textarea");
    request = $.ajax({
      url: 'https://script.google.com/macros/s/AKfycbyPQ7KkP-dG-Ubxq98uftLjVvacMDSmxJNtSFhLyc5tIijX3cE/exec', 
      type: 'post', 
      data: serializedData
    });

     // Callback handler that will be called on success
    request.done(function (response, textStatus, jqXHR){
        // Log a message to the console
        $('.modal.active').removeClass('active').css('display', 'none');
        
        $('#thank-you').css('display', 'block').addClass('active');
        setTimeout(function(){
          $('#thank-you').css('display', 'none').removeClass('active');
          $('.modal--overlay').css('display', 'none').removeClass('active');
        }, 2000)

    });

    // Callback handler that will be called on failure
    request.fail(function (jqXHR, textStatus, errorThrown){
        // Log the error to the console
        console.error(
            "The following error occurred: "+
            textStatus, errorThrown
        );
    });
    request.always(function () {
            // Reenable the inputs
            $inputs.prop("disabled", false);
        });
    e.preventDefault()
  });
   
</script>