<% if notice.present? %>
  <p id="notice"><%= notice %></p>
<% end %>
<div class="as--home-wrap">
	<div class="wrapper as--landing-page">

		<h1><%= t('pages.intro-1')%></h1>
		<p><%= t('pages.intro-2')%></p>
	</div>
	<div class="wrapper--flex wrapper button-boxes">
		<%= link_to about_path do%>
			<h2><%= t('pages.get-started')%></h2>
			<div class="button button--primary">How-To Guide</div>
		<% end %>
		<%= link_to lessons_path do%>
			<h2><%= t('pages.find-lessons') %></h2>
			<div class="button button--primary"><%= t('pages.browse-lessons')%></div>
		<% end %>
		<a href="#" class="button">
			<h2><%= t('pages.join-workshop')%></h2>
			<div class="button button--primary"><%= t('pages.workshops')%></div>
		</a>
		
	</div>
</div>