<%= simple_form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="wrapper--flex">
    <div class="content">
      <h3>*Title</h3>
      <%= f.text_field :title %>
      <div class="textarea-description">
        <h3>Description</h3>
        <%= f.text_area :description %>
      </div>

      <div>
        <h3>Curriculum Concepts</h3>
        <%= f.bootsy_area :curriculum_concepts %>
      </div>

      <div>
        <h3>Programming Concepts</h3>
        <%= f.bootsy_area :programming_concepts %>
      </div>

      <div>
        <h3>Prep</h3>
        <%= f.bootsy_area :prep %>
      </div>


      <div class="textarea-content">
        <h3>Content</h3>
        <%= f.bootsy_area :content %>
      </div>

      <div>
        <h3>Answers</h3>
        <%= f.bootsy_area :answers %>
      </div>

      <div>
        <h3>Extensions</h3>
        <%= f.bootsy_area :extensions %>
      </div>

      <%= f.label :video_link %>
      <%= f.text_field :video_link %>

      <%= f.label :file_upload %>
      <%= f.file_field :file_upload, class: "button button--primary" %>


      <div class="actions">
        <%= f.submit "submit", class: "button button--tertiary button--large font-quicksand" %>
      </div>
    </div>
    <div class="sidebar">
      <% if @lesson.feature_image.present? %>
        <%= image_tag @lesson.feature_image.url(:medium)%>
      <% end %>
      <%= f.label :feature_image %>
      <%= f.file_field :feature_image, class: "button button--primary" %>

      <%= f.input :subject_list, :url => autocomplete_subject_name_lessons_path, :as => :autocomplete, input_html: {value: @lesson.subject_list.to_s, 'data-delimiter' => ','} %>

      <%= f.input :code_concept_list, :url => autocomplete_code_concept_name_lessons_path, :as => :autocomplete, input_html: {value: @lesson.code_concept_list.to_s, 'data-delimiter' => ','} %>

      <%= f.input :grade_list, :url => autocomplete_grade_name_lessons_path, :as => :autocomplete, input_html: {value: @lesson.grade_list.to_s, 'data-delimiter' => ','} %>

      <%= f.label :duration_in_minutes %>
      <%= f.number_field :duration_in_minutes %>

      <div class="levels">
        <%= f.label :level %><br>
        <%= f.radio_button :level, '1' %><span>1</span><br>
        <%= f.radio_button :level, '2' %><span>2</span><br>
        <%= f.radio_button :level, '3' %><span>3</span><br>
        <%= f.radio_button :level, '4' %><span>4</span><br>
      </div>
    </div>
  </div>
<% end %>
