<style>
  .custom-color-bg {
    background:<%= @lesson.custom_color %> !important;
  }

  .custom-color-text {
    color: <%= @lesson.custom_color %>;
  }

  .custom-color-title {
    color: <%= @lesson.custom_color %>;
    border-color: <%= @lesson.custom_color %>!important;
  }
</style>
<%= simple_form_for(@lesson) do |f| %>

  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul class="main">
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <header class="header--secondary custom-color-bg">
    <div class="wrapper--flex">
      <%if @lesson.title.present?%>
        <h2><%= @lesson.title%></h2>
      <% else %>
        <h2><%= t('dictionary.create-lesson') %></h2>
      <% end %>
      <div class="lesson--single-actions">
        <% if current_user.admin? && @lesson.submitted%>
            <span><%= t('lessons.admin.update-status') %> </span>
           <div class="slideThree"> 
             <%= f.check_box :approved, data: @lesson.id, class: "lesson_approved_check", id: "slideThree#{@lesson.id}" %>
             <label for="slideThree<%= @lesson.id %>"></label>
           </div>
          <%= f.submit "Save Lesson", class: "button button--primary save-as-draft" %>
        <% end %>
        <% if !@lesson.submitted%>
          <%= f.submit t('lessons.new.save-draft'), class: "button button--secondary save-as-draft" %>
        <% end %>

        <% if @lesson.id.present? && !@lesson.submitted%>
          <%= link_to edit_lesson_path(@lesson, submitted: true), remote: true,  method: :get, class: 'button button--primary submit-button' do %>
           <%= t('lessons.new.submit-lesson') %>
          <% end %>
        <% elsif !@lesson.submitted%>
          <%= f.hidden_field :submitted, value: true %>  
          <%= f.submit t('lessons.new.submit-lesson'), class: "button button--primary" %>  
        <% end %>
      </div>
    </div>
  </header>
  <%if current_user.admin? && @lesson.id.present?%>
    <div class="lesson--admin-edit wrapper--flex">
      <div class="lesson--admin-edit-author"> 
        <label for="author"><%= t('dictionary.author') %>:</label>
        <input type="text" disabled value="<%= @lesson.author%>">
      </div>
      <div class="lesson--admin-edit-color">
        <%= f.label :custom_color, t('lessons.admin.custom-lesson-color') %>
        <%= f.text_field :custom_color %>
        <span class="color-swatch" style="background:<%= @lesson.custom_color%>;"></span>
      </div>
      <div class="lesson--admin-edit-verified">
        <%= f.label :verified, t('dictionary.verified?') %>
        <div class="select">
          <% if lang == 'fr' %>
            <%= f.select :verified, [['Oui', true], ['Non', false]] %>
          <% else %>
            <%= f.select :verified, [['Yes', true], ['No', false]] %>
          <% end %>
        </div>
      </div>
      <div class="lesson--admin-edit-message">
        <%= f.label :verification_message, t('lessons.admin.badge-message')%>
        <span class="label-direction"><%= t('lessons.admin.max-30') %></span>
        <div class="wrapper--flex">
          <span class="message-for"><%= t('lessons.admin.verified-for') %></span>
          <%= f.text_field :verification_message, placeholder: 'The Provincial Curriculum' %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="wrapper--flex">
    <div class="content">
      <h3 class="title--tertiary required custom-color-title"><%= t('lessons.new.lesson-info')%></h3>
      <%= f.label t('lessons.new.title'), class: 'required'%>
      <%= f.text_field :title %>
      <div class="wrapper--flex flex-even">
        <div>  
         <%= f.label t('dictionary.grade-level') %>
        <div class="select"> 
          <%= f.select :grade, options_for_select((lang == 'fr' ? Lesson::FR_GRADE : Lesson::EN_GRADE), @lesson.grade), {:include_blank => (lang == 'fr' ? 'Sélectionner' : 'Choose')}%>
        </div>
        </div>
        <div>
          <%= f.label t('lessons.new.estimated-duration') %>
          <div class="select"> 
            <%= f.select :duration_in_minutes, options_for_select(Lesson::DURATION_IN_MINUTES, @lesson.duration_in_minutes), {:include_blank => (lang == 'fr' ? 'Sélectionner' : 'Choose')}%>
          </div>
        </div>
      </div>

      <div>
        <h3 class="title--tertiary required custom-color-title"><%= t('lessons.new.short-summary') %></h3>
        <p class="small"><%= t('lessons.new.write-short-summary') %></p>
        <%= f.text_area :description, placeholder: t('lessons.new.write-short-summary-here') %>
      </div>
      <div>
        <h3 class="title--tertiary custom-color-title"><%= t('lessons.prep') %></h3>
        <p class="small"><%= t('lessons.new.prep-description') %></p>
        <%= f.bootsy_area :prep, placeholder: t('lessons.new.prep-required') %>
      </div>
      <div class="textarea-content">
        <h3 class="title--tertiary required custom-color-title"><%= t('lessons.the-lesson') %></h3>
        <p class="small"><%= t('lessons.new.lesson-description') %></p>
        <%= f.bootsy_area :content, placeholder: 'Write the content of your lesson, including all lecture notes and hands-on activity instructions here.', required: true %>
      </div>
      <div>
        <h3 class="title--tertiary custom-color-title"><%= t('lessons.assessment') %></h3>
        <p class="small"><%= t('lessons.new.assessment-description') %></p>
        <%= f.bootsy_area :answers, placeholder: t('lessons.new.provide-answer') %>
      </div>
      <div>
        <h3 class="title--tertiary custom-color-title"><%= t('lessons.extenstions') %></h3>
        <p class="small"><%= t('lessons.new.extensions-description') %></p>
        <%= f.bootsy_area :extensions, placeholder: t('lessons.new.provide-extension') %>
      </div>
      <%= f.label t('lessons.new.file-upload') %>
      <p class="small">
        <%= t('lessons.new.file-upload-description') %>
      </p>
      <%= f.file_field :file_upload %>
      <%= f.label t('lessons.new.video-link') %>
      <p class="small"><%= t('lessons.new.video-link-description')%></p>
      <%= f.text_field :video_link, placeholder: t('lessons.new.add-video-link') %>
      <% if !@lesson.submitted %>
        <%= f.submit t('lessons.new.save-draft'), class: "button button--secondary save-as-draft" %>
      <% end %>
      <% if @lesson.id.present? && !@lesson.submitted%>
        <%= link_to edit_lesson_path(@lesson, submitted: true), remote: true,  method: :get, class: 'button button--primary submit-button' do %>
         <%= t('lessons.new.submit-lesson') %>
        <% end %>
        <%= link_to t('lessons.new.delete-lesson'), lesson_path(@lesson),
    data: { confirm: 'Are you sure you want to delete this lesson?' }, method: :delete, class: 'link--underlined delete-lesson'%>
      <% elsif !@lesson.submitted%>
        <%= hidden_field_tag submitted: true %>  
        <%= f.submit t('lessons.new.submit-lesson'), class: "button button--primary" %>
      <% end %>
    </div>
    <!-- BEGINING OF SIDEBAR -->

    <div class="lesson--single-sidebar">
      <%= f.label t('lessons.intended-province'), :province, class: 'required'%>
      <div class="select"> 
        <%= f.select :province, options_for_select((lang == 'fr' ? Lesson::FR_PROVINCES : Lesson::EN_PROVINCES), @lesson.province)%>
      </div>
      <%= f.label :language, class: 'required' %>
      <div class="select">
        <%= f.select :language, options_for_select(Lesson::LANGUAGES, @lesson.language) %>
      </div>
      <% if @lesson.feature_image.present? %>
        <%= image_tag @lesson.feature_image.url(:medium)%>
      <% end %>
      <%= f.label t('lessons.new.featured-image'), class: 'required' %>
      <%= f.file_field :feature_image, required: true %>
      <!-- TODO make semantic ui work -->
      <%= f.label t('lessons.new.curriculum-subjects'), :subject_list, class: 'required'%>
      <div class="select">    
        <%= f.select :subject_list, options_for_select((lang == 'fr' ?Lesson::FR_CURRICULUM_SUBJECTS : Lesson::EN_CURRICULUM_SUBJECTS) , @lesson.subject_list), {}, {multiple: true, class: 'curriculum_subjects_dropdown'}  %>
      </div>
      <div>
        <%= f.label t('lessons.new.curriculum-takeaways'), :curriculum_concepts, class: 'required'%>
        <p class="small"><%= t('lessons.new.curriculum-takeaways-description') %></p>
        <%= f.bootsy_area :curriculum_concepts, placeholder: t('lessons.new.add-curriculum-takeaway') %>
      </div>
      <%= f.label t('dictionary.coding-concepts'), :code_concept_list, class: 'required' %>
      <div class="select">
        <%= f.select :code_concept_list, options_for_select((lang == 'fr' ? Lesson::FR_CODING_CONCEPTS : Lesson::EN_CODING_CONCEPTS), @lesson.code_concept_list), {}, {class: 'coding_concepts_dropdown',multiple: true}  %>
      </div>
      <div>
        <%= f.label t('dictionary.coding-takeaways'), :programming_concepts%>
        <p class="small"><%= t('lessons.new.coding-takeaways-description') %></p>
        <%= f.bootsy_area :programming_concepts, placeholder: t('lessons.new.add-coding-takeaway') %>
      </div>
      <% if current_user.profile.is_admin? %>
      <div>
        <h3><%= t('lessons.new.references') %></h3>
        <p class="small"><%= t('lessons.new.reference-list') %></p>
        <%= f.fields_for :lesson_references do |builder| %>
          <%= render 'lesson_reference_fields', f: builder %>
        <% end %>
        <%= link_to_add_fields t('lessons.new.more'), f, :lesson_references  %>
      </div>
      <div>
        <h3><%= t('lessons.suggested-lesson')%></h3>
        <p class="small">Lessons that would nicely complement this one or provide a good extension.</p>
        <div class="select">
          <%= f.collection_select :suggested_lessons, Lesson.all.is_approved, :id, :title, {:include_blank => false}, {multiple: true, class: 'suggested_lessons_dropdown'}  %>
        </div>
        <% if @lesson.suggested_lessons.present?%>
          <ul class="list--suggested-lessons-edit">
            <%@lesson.suggested_lessons.each do |sug_lesson|%>
              <% if sug_lesson.suggested_lesson_id > 0%>
                <% the_lesson = Lesson.where(id: sug_lesson.suggested_lesson_id.to_i).first%>
                  <li id="sug_<%= sug_lesson.id%>"><%= link_to '×', sug_lesson, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, class: 'suggested-delete custom-color-bg' %> <%= link_to the_lesson.title, lesson_path(the_lesson) %></li>
              <% end %>
        
            <% end %>
          </ul>
        <% end %>
      </div>
      <% end %>

    </div>
  </div>
<% end %>

<script>
$(function(){
  $('.curriculum_subjects_dropdown').select2()
  $('.coding_concepts_dropdown').select2()
  $('.suggested_lessons_dropdown').select2()

})
  ;
  function ajaxSubmitInput(elem) {
    console.log(elem)
    // $.ajax({
    //   url: '',  
    //   method: 'GET', 
    //   data: data
    // });
  }
</script>

<script>
$(document).ready(function(){
  console.log('ready')
  $('form').on('click', '.remove_fields', function(even){
    event.preventDefault()
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('fieldset').hide();
  });
  
  $('form').on('click', '.add_fields', function(event){
    event.preventDefault();
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    console.log(regexp)
    $(this).before($(this).data('fields').replace(regexp, time));

  })
});
  
</script>