<%= simple_form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <hr>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.input :subject_list, :url => autocomplete_subject_name_lessons_path, :as => :autocomplete, input_html: {'data-delimiter' => ','} %>
  </div>

  <hr>
  <div class="field">
    <%= f.label :code_concept %><br>
    <%= f.text_field :code_concept_list %>
  </div>


  <hr>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.text_field :grade_list %>
  </div>


  <hr>
  <div class="field">
    <%= f.label :duration_in_seconds %><br>
    <%= f.number_field :duration_in_seconds %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :curriculum_concepts %><br>
    <%= f.text_area :curriculum_concepts %>
  </div>
  <div class="field">
    <%= f.label :prep %><br>
    <%= f.text_area :prep %>
  </div>
  <div class="field">
    <%= f.label :programming_concepts %><br>
    <%= f.text_area :programming_concepts %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :extensions %><br>
    <%= f.text_area :extensions %>
  </div>
  <div class="field">
    <%= f.label :answers %><br>
    <%= f.text_area :answers %>
  </div>
  <div class="field">
    <%= f.label :video_link %><br>
    <%= f.text_field :video_link %>
  </div>
  <div class="field">
    <%= f.label :feature_image %><br>
    <%= f.file_field :feature_image %>
  </div>
  <div class="field">
    <%= f.label :file_upload %><br>
    <%= f.file_field :file_upload %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
