<%= simple_form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.input :subject_list, :url => autocomplete_subject_name_lessons_path, :as => :autocomplete, input_html: {'data-delimiter' => ','} %>
  </div>
  <div class="field">
    <%= f.input :code_concept_list, :url => autocomplete_code_concept_name_lessons_path, :as => :autocomplete, input_html: {'data-delimiter' => ','} %>
  </div>
  <div class="field">
    <%= f.input :grade_list, :url => autocomplete_code_concept_name_lessons_path, :as => :autocomplete, input_html: {'data-delimiter' => ','} %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :duration_in_minutes %><br>
    <%= f.number_field :duration_in_minutes %>
  </div>
  <div class="field">
    <%= f.label :video_link %><br>
    <%= f.text_field :video_link %>
  </div>
  <div class="field">
    <%= f.label :feature_image %><br>
    <%= f.file_field :feature_image, class: "button button--primary" %>
  </div>
  <div class="field">
    <%= f.label :file_upload %><br>
    <%= f.file_field :file_upload, class: "button button--primary" %>
  </div>
  <div class="field">
  <h3>Description</h3>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <h3>Curriculum Concepts</h3>
    <%= f.bootsy_area :curriculum_concepts %>
  </div>
  <div class="field">
    <h3>Prep</h3>
    <%= f.bootsy_area :prep %>
  </div>
  <div class="field">
    <h3>Programming Concepts</h3>
    <%= f.bootsy_area :programming_concepts %>
  </div>
  <div class="field">
    <h3>Content</h3>
    <%= f.bootsy_area :content %>
  </div>
  <div class="field">
    <h3>Extensions</h3>
    <%= f.bootsy_area :extensions %>
  </div>
  <div class="field">
    <h3>Answers</h3>
    <%= f.bootsy_area :answers %>
  </div>
  <div class="actions">
    <%= f.submit "submit", class: "button button--secondary" %>
  </div>
<% end %>
