<%= simple_form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2><%= f.label :title %></h2><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.input :subject_list, :url => autocomplete_subject_name_lessons_path, :as => :autocomplete, input_html: {'data-delimiter' => ','} %>
  </div>
  <div class="field">
    <%= f.input :code_concept_list, :url => autocomplete_code_concept_name_lessons_path, :as => :autocomplete, input_html: {'data-delimiter' => ','} %>
  </div>
  <div class="field">
    <%= f.input :grade_list, :url => autocomplete_code_concept_name_lessons_path, :as => :autocomplete, input_html: {'data-delimiter' => ','} %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :duration_in_minutes %><br>
    <%= f.number_field :duration_in_minutes %>
  </div>
  <div class="field">
    <%= f.label :video_link %><br>
    <%= f.text_field :video_link %>
  </div>
  <div class="field">
    <%= f.label :feature_image %><br>
    <%= f.file_field :feature_image, class: "button button--primary" %>
  </div>
  <div class="field">
    <%= f.label :file_upload %><br>
    <%= f.file_field :file_upload, class: "button button--primary" %>
  </div>
  <div class="field">
    <%= f.input :description, as: :bootsy %>
  </div>
  <div class="field">
    <%= f.input :curriculum_concepts, as: :bootsy %>
  </div>
  <div class="field">
    <%= f.input :prep, as: :bootsy %>
  </div>
  <div class="field">
    <%= f.input :programming_concepts, as: :bootsy %>
  </div>
  <div class="field">
    <%= f.input :content, as: :bootsy %>
  </div>
  <div class="field">
    <%= f.input :extensions, as: :bootsy %>
  </div>
  <div class="field">
    <%= f.input :answers, as: :bootsy %>
  </div>
  <div class="actions">
    <%= f.submit "submit", class: "button button--primary" %>
  </div>
<% end %>
