<div class="wrapper--flex lessons-listing">
<% if @lessons.present? %>
  <% @lessons.each do |lesson| %>
    <%= link_to lesson, class: 'lesson col--two' do%>
      <div class="lesson--bar">
        <span><%= t('dictionary.grade') %>: <%= lesson.grade%></span>
        <span class="lesson--likes">
          <span class="ribbon">
           
              <span class="likes-count"><%= lesson.get_upvotes.size %></span>
    
          </span>
        </span>
      </div>
      <div class="lesson--title" style="background-image: linear-gradient(to right, rgba(31, 72, 123, 0.4) 0%, rgba(31, 72, 123, 0.5) 59%, rgba(31, 72, 123, 0.65) 100%), url(<%= lesson.feature_image.url %>)">
        <span>
          <p><%= t('dictionary.time') %>: <%= lesson.duration_in_minutes %></p>
          <p><%= t('dictionary.author') %>: <%= lesson.author%></p>
        </span>
        <h2><%= lesson.title %></h2>
      </div>

      <div class="lesson--short-description">
        <p><%= lesson.short_description %></p>
        <div class="lesson--more">
          <span class="button button--black"><%= t('dictionary.learn-more')%></span>
          <% if lesson.verified %>
            <svg id="Artwork" xmlns="http://www.w3.org/2000/svg" width="125.3" height="27.7" viewBox="0 0 125.3 27.7">
              <defs>
                <style>
                  .cls-1 {
                    fill: #ffce03;
                  }

                  .cls-2 {
                    font-size: 11px;
                    font-family: Quicksand;
                  }
                </style>
              </defs>
              <title>verification-ribbon-small</title>
              <g id="GRID">
                <g>
                  <g>
                    <polygon class="cls-1" points="1.6 24.5 123.4 24.5 117.3 14 123.4 3.2 1.6 3.2 7 14 1.6 24.5"/>
                    <polygon class="cls-1" points="123.8 2.6 125.3 0 0 0 1.3 2.6 123.8 2.6"/>
                    <polygon class="cls-1" points="1.3 25.2 0 27.7 125.3 27.7 123.8 25.2 1.3 25.2"/>
                  </g>
                  <text class="cls-2" transform="translate(13.6 17.2)">LESSON VERIFIED</text>
                </g>
              </g>
            </svg>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>No lessons match this search parameter.</p>
<% end %>
</div>


<script>
  // function updateVotable(){
  //   $('.likes').each(function(i, lesson){
  //     var status = $(lesson).data('liked');
  //     var url = $(lesson).attr('href')
  //     var href = url.split('/')
  //     href.pop()
  //     var url_start = href.join('/')
  //     if(status == true){
  //       console.log(i + 'true')
  //       $(lesson).attr('href', url_start + '/dislike')
  //     }else if(status == false){
  //       $(lesson).attr('href', url_start + '/like')
  //       console.log(i + 'false')
  //     }
  //   })
  // }
  // $(document).ready(function(){
  //   $('.likes').on('click', function(e){
  //     e.preventDefault()

  //   })
  //   $('.likes').on('ajax:success', function(e, data, status, xhr){
  //     console.log(data.count)
  //     var count = data.count
  //     var liked = $(this).data('liked')
  //     $(this).find('.likes-count').html(count)
  //     if(liked == true){
  //       $(this).data('liked', false)
  //     }else if(liked == false){
  //       $(this).data('liked', true)
  //     }
  //     updateVotable();
  //   });
  //   updateVotable();
  // });
</script>
