<div class="wrapper--flex lessons-listing">
<% if @lessons.present? %>
  <% @lessons.each do |lesson| %>
    <div class="lesson col--two lesson--level-<%= lesson.level %>">
      <div class="lesson--bar">
        <span>Grade: <%= lesson.grade_list%></span>
        <span class="lesson--likes">
          <span class="ribbon">
            <%= link_to like_lesson_path(lesson), "data-liked" => lesson.liked_by_user(current_user), class: "likes", remote: true,  method: :get, data: { type: :json } do %>
              <span class="likes-count"><%= lesson.get_upvotes.size %></span>
            <% end %>
          </span>
        </span>
      </div>
      <div class="lesson--title" style="background-image: linear-gradient(to right, rgba(31, 72, 123, 0.4) 0%, rgba(31, 72, 123, 0.5) 59%, rgba(31, 72, 123, 0.65) 100%), url(<%= lesson.feature_image.url %>)">
        <span>
          <p>Time: <%= lesson.duration_in_minutes %></p>
          <p>Author: <%= lesson.author%></p>
        </span>
        <h2><%= lesson.title %></h2>
      </div>

      <div class="lesson--short-description">
        <p><%= lesson.short_description %></p>
        <%= link_to 'Learn More', lesson, class: 'button button--black' %>
      </div>
    </div>

  <% end %>
<% else %>
  <p>No lessons match this search parameter.</p>
<% end %>
</div>


<script>
  function updateVotable(){
    $('.likes').each(function(i, lesson){
      var status = $(lesson).data('liked');
      var url = $(lesson).attr('href')
      var href = url.split('/')
      href.pop()
      var url_start = href.join('/')
      if(status == true){
        console.log(i + 'true')
        $(lesson).attr('href', url_start + '/dislike')
      }else if(status == false){
        $(lesson).attr('href', url_start + '/like')
        console.log(i + 'false')
      }
    })
  }
  $(document).ready(function(){
    $('.likes').on('click', function(e){
      e.preventDefault()

    })
    $('.likes').on('ajax:success', function(e, data, status, xhr){
      console.log(data.count)
      var count = data.count
      var liked = $(this).data('liked')
      $(this).find('.likes-count').html(count)
      if(liked == true){
        $(this).data('liked', false)
      }else if(liked == false){
        $(this).data('liked', true)
      }
      updateVotable();
    });
    updateVotable();
  });
</script>
