<div class="list--header list--header-browse flex--wrapper">
  <div>bk</div>
  <div><%= t('lessons.dashboard.lesson-title') %></div>
  <div><%= t('dictionary.grade-level') %></div>
  <div>Prov</div>
  <div><%= t('dictionary.subjects') %></div>
  <div><%= t('lessons.dashboard.concepts') %></div>
  <div><%= t('lessons.dashboard.created') %></div>  
</div>
<ul class="list--browse list--lessons font-quicksand">
  <% @lessons.each do |lesson|%>
    <li>
      <%= link_to lesson_path(lesson) do %>
        <span><%= lesson.get_upvotes.size %></span>
        <span><%= lesson.title %></span>
        <span><%= lesson.grade %></span>
        <span><%= lesson.province %></span>
        <span><%= lesson.subject_list%></span>
        <span><%= lesson.code_concept_list %></span>
        <span><%= lesson.format_date(lesson.created_at)%></span>
      <% end %>
    </li>
  <% end %>
</ul>

<script>
  function ajaxSubmit(form) {
    console.log('submit')
    var data = $(form).serialize()
    $.ajax({
      url: '',  
      method: 'GET', 
      data: data
    });
  }
</script>