<p id="notice"><%= notice %></p>

<h1>Listing Lessons</h1>
<%= form_tag(lessons_path, remote: true, method: :get) do %>
  <h4>Subject</h4>
  <%= select_tag 'subject', options_for_select(ActsAsTaggableOn::Tagging.includes(:tag).where(context: 'subject').uniq.pluck(:name).map { |s| [s.humanize, s]}), {:include_blank => 'select a subject'}%>

  <h4>Code Concept</h4>
  <%= select_tag 'code_concept', options_for_select(ActsAsTaggableOn::Tagging.includes(:tag).where(context: 'code_concept').uniq.pluck(:name).map { |s| [s.humanize, s]}), {:include_blank => 'select a code concept'}%>

  <h4>Grade</h4>
  <%= select_tag 'grade', options_for_select(ActsAsTaggableOn::Tagging.includes(:tag).where(context: 'grade').uniq.pluck(:name).map { |s| [s.humanize, s]}), {:include_blank => 'select a grade'}%>
  
  <%= hidden_field_tag :search_complete, true %>
  <%= submit_tag 'Search', remote: true %>

<% end %>
<div class="wrapper wrapper--flex" id="lessons-listing">
  <%= render 'lessons_listing'%>
</div>
<br>

<%= link_to 'New Lesson', new_lesson_path %>
