<p id="notice"><%= notice %></p>

<h1>Listing Lessons</h1>

<h4>Subject</h4>
<ul>
  <% ActsAsTaggableOn::Tagging.includes(:tag).where(context: 'subject').uniq.pluck(:name).each do |subject| %>
  <li><%= subject %></li>
  <% end %>
</ul>
<h4>Code Concept</h4>
<ul>
  <% ActsAsTaggableOn::Tagging.includes(:tag).where(context: 'code_concept').uniq.pluck(:name).each do |code_concept| %>
  <li><%= code_concept %></li>
  <% end %>
</ul>
<h4>Grade</h4>
<ul>
  <% ActsAsTaggableOn::Tagging.includes(:tag).where(context: 'grade').uniq.pluck(:name).each do |grade| %>
  <li><%= grade %></li>
  <% end %>
</ul>
<% @lessons.each do |lesson| %>
<div class="container container--flex container--lesson lesson col--two">
  <div class="lesson--bar">
    <% ActsAsTaggableOn::Tagging.includes(:tag).where(context: 'grade').uniq.pluck(:name).each do |grade| %>
    <span>Grade:  <%= grade %></span>
    <% end %>
  </div>

  <div class="lesson--title">
    <span>
      <p>Time: <%= lesson.duration_in_seconds %></p>
      <p>Level: <%= lesson.level%></p>
    </span>
    <h2><%= lesson.title %></h2>
  </div>

  <div class="lesson--short-description">
    <p><%= lesson.short_description %></p>
    <a class="button button--primary">Learn More</a>
    <span class="lesson--likes">♡ 12</span>
  </div>
</div>
<%= link_to dislike_lesson_path(lesson), method: :put do %>
  Downvote
  <%= lesson.get_downvotes.size %>
<% end %>
<%= link_to like_lesson_path(lesson), method: :put do %>
  Upvote
<%= lesson.get_upvotes.size %>
<% end %>
<%= link_to 'Show', lesson %>
<% end %>
<br>

<%= link_to 'New Lesson', new_lesson_path %>
