<p id="notice"><%= notice %></p>

<h1>Listing Lessons</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Duration in seconds</th>
      <th>Level</th>
      <th>Description</th>
      <th>Video link</th>
      <th>Profile</th>
      <th>likes</th>
      <th>dislikes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.title %></td>
        <td><%= lesson.duration_in_seconds %></td>
        <td><%= lesson.level %></td>
        <td><%= lesson.description %></td>
        <td><%= lesson.video_link %></td>
        <td><%= lesson.profile.first_name %> <%= lesson.profile.last_name %></td>
        <td>
          <%= link_to like_lesson_path(lesson), method: :put do %>
            Upvote
            <%= lesson.get_upvotes.size %>
          <% end %>
        </td>
        <td>
          <%= link_to dislike_lesson_path(lesson), method: :put do %>
            Downvote
            <%= lesson.get_downvotes.size %>
          <% end %>
        </td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_lesson_path %>
