<p id="notice"><%= notice %></p>

<div class="wrapper wrapper--flex">
  <div class="sidebar">
    <%= image_tag @lesson.feature_image.url(:medium) %>
    <div class="sidebar--text">
      <h3>Key Curriculum Concepts</h3>
      <%= @lesson.curriculum_concepts.html_safe %>
      <h3>Key Coding Concepts</h3>
      <%= @lesson.programming_concepts.html_safe %>
      <h3>Prep</h3>
      <%= @lesson.prep.html_safe %>
    </div>
  </div>
  <div class="lesson--single">
    <h2><%= @lesson.title %></h2>
    <h3>By: <%= @lesson.profile.first_name %> <%= @lesson.profile.last_name %></h3>
    <p>
      Grade:
      <% @lesson.grade_list.each do |grade| %>
        <%= grade %>
      <% end %>
    </p>
    <p>Time: <%= @lesson.duration_in_minutes %> minutes</p>
    <p>Level: <%= @lesson.level %></p>
    <ul>
      <li>Subjects:</li>
      <% @lesson.subject_list.each do |subject| %>
        <li><%= subject %></li>
      <% end %>
    </ul>
    <ul>
      <li>Programming Concepts</li>
      <% @lesson.code_concept_list.each do |code_concept| %>
        <li><%= code_concept %></li>
      <% end %>
    </ul>

    <h2>The Lesson</h2>
    <div class="text-edit">
      <%= @lesson.content.html_safe %>
    </div>

    <h2>Extensions</h2>
    <div class="text-edit">
      <%= @lesson.extensions.html_safe %>
    </div>

    <h2>Answers</h2>
    <div class="text-edit">
      <%= @lesson.answers.html_safe %>
    </div>

    <%= @lesson.video_link %>

    <%= link_to 'download additional materials', @lesson.file_upload.url, target: '_blank' %>
  </div>
</div>

  <%= link_to 'Edit', edit_lesson_path(@lesson) %> |
  <%= link_to 'Back', lessons_path %>
