<style>
  .custom-color-bg {
    background:<%= @lesson.custom_color %> !important;
  }

  .custom-color-text {
    color: <%= @lesson.custom_color %> !important;
  }
  
  a.custom-color-text:hover {
    border-bottom: 2px solid <%= @lesson.custom_color %>!important;
  }
  .custom-color-title {
    color: <%= @lesson.custom_color %>;
    border-color: <%= @lesson.custom_color %>!important;
  }

  .lesson--section-title {
    color:<%= @lesson.custom_color %>!important;
    border-bottom-color: <%= @lesson.custom_color %>!important;
  }
  .lesson--section-title:after {
    color:<%= @lesson.custom_color %>!important;
  }

  .lesson--section-title:hover {
    color:white !important;
    background: <%= @lesson.custom_color %>!important;
  }

  .lesson--section-title:hover:after {
    color:white !important;
  }

  .lesson--section-title.active {
    color:white !important;
    background: <%= @lesson.custom_color %>!important;
  }

  .lesson--section-title.active:after {
    color:white !important;
  }

  .lesson--single-title-img {
    background-color: <%= @lesson.custom_color %>!important;
  }
</style>
<%if notice.present?%>
  <p id="notice"><%= notice %></p>
<% end %>  

<div class="wrapper wrapper--flex wrapper--flex-wrap as--lesson-wrapper lesson--single-title">
  <div class="lesson--single-title-bar custom-color-bg">
    <h2 class="as--no-top-margin"><%= @lesson.title %></h2>
    <h4 class="font-quicksand as--no-top-margin"><% if @lesson.grade.present?%><%= t('dictionary.grade-level') %> <%= @lesson.grade%> • <% end %><%= @lesson.duration_in_minutes%> <%= t('lessons.single.duration') %></h4>
    <h3 class="font-quicksand as--no-top-margin"><%= t('lessons.single.created-by') %> <%= link_to @lesson.author, profile_path(@lesson.user.profile)%> <%= t('lessons.single.created-by-second') %> <%= @lesson.format_date(@lesson.created_at)%></h3>
    <% if @lesson.verified.present?%>
      <div class="lesson--single-verification-badge">
        <div class="badge-box">
          <%if session[:locale].to_s == 'en'%>
          <svg viewBox="0 0 204.2 146.1" class="badge--full">
          <style type="text/css">
            .st0{fill:#FFFFFF;}
            .st1{fill:#FFCE03;}
            .st2{fill:none;}
            .st3{font-family:'Quicksand';}
            .st4{font-size:9px;}
          </style>
          <g>
            <g>
              <g>
                <circle class="st0" cx="101.9" cy="73.1" r="69.2"/>
                <path class="st1" d="M101.9,143.8c-39,0-70.7-31.7-70.7-70.7S62.9,2.3,101.9,2.3s70.7,31.7,70.7,70.7S140.9,143.8,101.9,143.8z
                   M101.9,5.3c-37.3,0-67.7,30.4-67.7,67.7s30.4,67.7,67.7,67.7s67.7-30.4,67.7-67.7S139.2,5.3,101.9,5.3z"/>
              </g>
              <g>
                <g>
                  <g>
                    <path class="st1" d="M36.4,95.5c-2.4-7-3.7-14.6-3.7-22.5s1.3-15.4,3.7-22.5H1.2L13,73.1L1.2,95.5H36.4z"/>
                  </g>
                  <path class="st0" d="M35.1,91.4c-0.1-0.3-0.2-0.7-0.3-1h-31l-0.5,1H35.1z"/>
                  <path class="st0" d="M3.3,54.7l0.5,1h31c0.1-0.3,0.2-0.7,0.3-1H3.3z"/>
                </g>
                <g>
                  <g>
                    <path class="st1" d="M167.8,95.5c2.4-7,3.7-14.6,3.7-22.5s-1.3-15.4-3.7-22.5h35.2l-11.9,22.5l11.9,22.4H167.8z"/>
                  </g>
                  <path class="st0" d="M169.1,91.4c0.1-0.3,0.2-0.7,0.3-1h31l0.5,1H169.1z"/>
                  <path class="st0" d="M200.9,54.7l-0.5,1h-31c-0.1-0.3-0.2-0.7-0.3-1H200.9z"/>
                </g>
                <g>
                  <rect x="31.9" y="39.5" class="st1" width="140" height="45"/>
                  <g>
                    <rect x="31.9" y="43.7" class="st0" width="140" height="1"/>
                    <rect x="31.9" y="79.3" class="st0" width="140" height="1"/>
                  </g>
                  <g>
                    <path d="M52.9,70.5c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0-0.2,0-0.2-0.1c-0.2-0.1-0.3-0.2-0.3-0.3c0,0,0,0,0-0.1l0,0l-7-16.8
                      c-0.1-0.2-0.1-0.3,0-0.5c0.1-0.2,0.2-0.3,0.3-0.4s0.3-0.1,0.5,0c0.2,0.1,0.3,0.2,0.4,0.3l6.5,15.5l6.5-15.5
                      c0.1-0.2,0.2-0.3,0.3-0.3c0.2-0.1,0.3-0.1,0.5,0s0.3,0.2,0.3,0.4c0.1,0.2,0.1,0.3,0,0.5l-7,16.6C53.3,70.3,53.2,70.5,52.9,70.5
                      L52.9,70.5z"/>
                    <path d="M65.6,70V53c0-0.2,0.1-0.3,0.2-0.4c0.1-0.1,0.3-0.2,0.4-0.2h9.4c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.5
                      s-0.1,0.3-0.2,0.5c-0.1,0.1-0.3,0.2-0.4,0.2h-8.7v7.2h7.6c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.5
                      c0,0.2-0.1,0.3-0.2,0.4s-0.3,0.2-0.4,0.2h-7.6v7.2h8.7c0.2,0,0.3,0.1,0.4,0.2s0.2,0.3,0.2,0.5c0,0.2-0.1,0.3-0.2,0.5
                      c-0.1,0.1-0.3,0.2-0.4,0.2h-9.4c-0.2,0-0.3-0.1-0.4-0.2C65.7,70.3,65.6,70.1,65.6,70z"/>
                    <path d="M91.8,70.3c-1.1,0-1.7-1.3-1.7-3.8c0-1.1-0.5-2-1.5-2.8c-0.7-0.5-1.4-0.8-2.2-0.9c0,0,0,0-0.1,0H82V70
                      c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.5,0.2s-0.3-0.1-0.4-0.2c-0.1-0.1-0.2-0.3-0.2-0.4V53c0-0.2,0.1-0.3,0.2-0.4
                      c0.1-0.1,0.2-0.2,0.4-0.2h5.2c1.4,0,2.7,0.5,3.7,1.5c1,1,1.5,2.2,1.5,3.7c0,1-0.3,2-0.8,2.8s-1.3,1.5-2.2,1.9l0.3,0.1
                      c0.7,0.4,1.3,0.9,1.7,1.6c0.5,0.7,0.7,1.6,0.7,2.8s0.2,1.9,0.5,2.2c0.4,0,0.6,0.1,0.7,0.4c0.1,0.4-0.1,0.7-0.4,0.8h-0.1
                      L91.8,70.3L91.8,70.3z M89.3,60.3c0.7-0.8,1.1-1.7,1.1-2.8s-0.4-2-1.2-2.8c-0.8-0.8-1.7-1.1-2.8-1.1H82v7.9h4.6
                      C87.6,61.5,88.5,61.1,89.3,60.3z"/>
                    <path d="M97.5,70V53c0-0.2,0.1-0.3,0.2-0.4c0.1-0.1,0.3-0.2,0.4-0.2s0.3,0.1,0.5,0.2c0.1,0.1,0.2,0.3,0.2,0.4v17
                      c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.5,0.2s-0.3-0.1-0.4-0.2C97.5,70.3,97.5,70.1,97.5,70z"/>
                    <path d="M105.2,70V53c0-0.4,0.2-0.6,0.6-0.6h9.4c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.4c0,0.2-0.1,0.3-0.2,0.5
                      c-0.1,0.1-0.3,0.2-0.4,0.2h-8.7v7.2h7.6c0.2,0,0.3,0.1,0.5,0.2c0.1,0.1,0.2,0.3,0.2,0.5s-0.1,0.3-0.2,0.5s-0.3,0.2-0.5,0.2
                      h-7.6V70c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.4-0.2C105.3,70.3,105.2,70.1,105.2,70z"/>
                    <path d="M121.1,70V53c0-0.2,0.1-0.3,0.2-0.4c0.1-0.1,0.3-0.2,0.4-0.2s0.3,0.1,0.5,0.2c0.1,0.1,0.2,0.3,0.2,0.4v17
                      c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.5,0.2s-0.3-0.1-0.4-0.2C121.2,70.3,121.1,70.1,121.1,70z"/>
                    <path d="M128.9,70V53c0-0.2,0.1-0.3,0.2-0.4c0.1-0.1,0.3-0.2,0.4-0.2h9.4c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.5
                      s-0.1,0.3-0.2,0.5c-0.1,0.1-0.3,0.2-0.4,0.2h-8.7v7.2h7.6c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.5
                      c0,0.2-0.1,0.3-0.2,0.4s-0.3,0.2-0.4,0.2h-7.6v7.2h8.7c0.2,0,0.3,0.1,0.4,0.2s0.2,0.3,0.2,0.5c0,0.2-0.1,0.3-0.2,0.5
                      c-0.1,0.1-0.3,0.2-0.4,0.2h-9.4c-0.2,0-0.3-0.1-0.4-0.2C129,70.3,128.9,70.1,128.9,70z"/>
                    <path d="M148.3,70.6h-3.5c-0.2,0-0.3-0.1-0.4-0.2c-0.1-0.1-0.2-0.3-0.2-0.4V53c0-0.2,0.1-0.3,0.2-0.4c0.1-0.1,0.3-0.2,0.4-0.2
                      h3.4c2.5,0,4.7,0.9,6.4,2.7c1.8,1.8,2.7,3.9,2.7,6.4c0,2.5-0.9,4.7-2.7,6.4C153,69.7,150.9,70.6,148.3,70.6z M145.6,69.3h2.8
                      c2.2,0,4-0.8,5.5-2.3c1.5-1.5,2.3-3.4,2.3-5.5c0-2.2-0.8-4-2.3-5.5c-1.5-1.5-3.4-2.3-5.5-2.3h-2.8V69.3z"/>
                  </g>
                </g>
                <g>
                  <path d="M65.2,31.7l-4-5.7l-1.9,1.3c-0.1,0-0.1,0.1-0.2,0S59,27.3,59,27.2c0-0.1-0.1-0.1,0-0.2c0-0.1,0-0.1,0.1-0.2l4.2-3
                    c0.1,0,0.1-0.1,0.2,0c0.1,0,0.1,0,0.2,0.1c0,0.1,0.1,0.1,0,0.2c0,0.1,0,0.1-0.1,0.2l-1.9,1.3l4,5.7c0,0.1,0.1,0.1,0,0.2
                    c0,0.1,0,0.1-0.1,0.2c-0.1,0-0.1,0.1-0.2,0C65.3,31.8,65.3,31.7,65.2,31.7z"/>
                  <path d="M73.3,26.8l-1.6-2.9l-3.5,1.9l1.6,2.9c0,0.1,0,0.1,0,0.2S69.8,29,69.7,29c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1-0.1-0.2-0.1
                    l-3.5-6.3c0-0.1,0-0.1,0-0.2c0-0.1,0.1-0.1,0.1-0.2c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.2,0.1l1.6,2.9l3.5-1.9l-1.6-2.9
                    c0-0.1,0-0.1,0-0.2c0-0.1,0.1-0.1,0.1-0.2c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.2,0.1l3.5,6.3c0,0.1,0,0.1,0,0.2
                    c0,0.1-0.1,0.1-0.1,0.2s-0.1,0-0.2,0C73.4,26.9,73.3,26.8,73.3,26.8z"/>
                  <path d="M76.2,25.4l-2.9-6.6c0-0.1,0-0.1,0-0.2c0-0.1,0.1-0.1,0.1-0.1c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.2,0.1l2.9,6.6
                    c0,0.1,0,0.1,0,0.2c0,0.1-0.1,0.1-0.1,0.1c-0.1,0-0.1,0-0.2,0C76.3,25.5,76.2,25.4,76.2,25.4z"/>
                  <path d="M77.6,18.7c0.3,0.7,1.1,0.9,2.6,0.7l0,0c0.8-0.1,1.5-0.1,2.1,0c0.7,0.2,1.1,0.5,1.3,1.1c0.2,0.6,0.1,1.2-0.3,1.7
                    c-0.4,0.6-1,1-1.7,1.2c-0.9,0.3-1.9,0.3-3-0.1c-0.1-0.1-0.2-0.2-0.1-0.3c0-0.1,0.1-0.1,0.1-0.1c0.1,0,0.1,0,0.2,0
                    c1,0.4,1.9,0.4,2.7,0.1c0.6-0.2,1.1-0.6,1.4-1c0.3-0.4,0.4-0.9,0.2-1.3c-0.3-0.8-1.2-1.1-2.8-0.8l0,0c-1.7,0.3-2.8-0.1-3.1-1
                    c-0.2-0.5-0.1-1.1,0.3-1.6c0.4-0.5,0.9-0.9,1.6-1.2c0.3-0.1,0.6-0.2,1-0.2c0.3,0,0.6,0,0.8,0.1c0.2,0,0.5,0.1,0.8,0.2
                    c0.2,0,0.2,0.1,0.2,0.3c0,0.2-0.1,0.2-0.3,0.2c-0.3-0.1-0.6-0.1-0.7-0.2c-0.2,0-0.4-0.1-0.7-0.1c-0.3,0-0.6,0-0.8,0.1
                    c-0.6,0.2-1,0.5-1.3,1C77.5,18,77.4,18.4,77.6,18.7z"/>
                  <path d="M93.3,20.7l-3.9,0.7c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1-0.1-0.1-0.2L87.8,14c0-0.1,0-0.1,0-0.2c0-0.1,0.1-0.1,0.2-0.1
                    c0.1,0,0.1,0,0.2,0s0.1,0.1,0.1,0.2l1.2,6.8l3.6-0.7c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.1,0.2c0,0.1,0,0.1,0,0.2
                    C93.4,20.6,93.3,20.6,93.3,20.7z"/>
                  <path d="M95,20.2L94.4,13c0-0.1,0-0.1,0.1-0.2c0-0.1,0.1-0.1,0.2-0.1l3.9-0.3c0.1,0,0.1,0,0.2,0.1c0.1,0,0.1,0.1,0.1,0.2
                    c0,0.1,0,0.1-0.1,0.2c0,0.1-0.1,0.1-0.2,0.1L95,13.2l0.3,3.1l3.2-0.3c0.1,0,0.1,0,0.2,0.1c0.1,0.1,0.1,0.1,0.1,0.2
                    c0,0.1,0,0.1-0.1,0.2c0,0.1-0.1,0.1-0.2,0.1l-3.2,0.3l0.3,3l3.7-0.3c0.1,0,0.1,0,0.2,0.1c0.1,0,0.1,0.1,0.1,0.2
                    c0,0.1,0,0.1-0.1,0.2c0,0.1-0.1,0.1-0.2,0.1l-4,0.3c-0.1,0-0.1,0-0.2-0.1C95,20.3,95,20.2,95,20.2z"/>
                  <path d="M101.8,14.1c0,0.7,0.7,1.3,2.2,1.6l0,0c0.8,0.2,1.5,0.4,1.9,0.8c0.6,0.4,0.8,0.9,0.8,1.5c0,0.6-0.3,1.1-0.9,1.5
                    c-0.6,0.4-1.2,0.6-2,0.6c-1,0-1.9-0.4-2.8-1.2c-0.1-0.1-0.1-0.2,0-0.3c0-0.1,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0.1
                    c0.8,0.7,1.6,1,2.5,1.1c0.7,0,1.2-0.1,1.7-0.5c0.4-0.3,0.7-0.7,0.7-1.1c0-0.8-0.8-1.4-2.4-1.7h0c-1.7-0.4-2.6-1-2.6-2.1
                    c0-0.6,0.3-1.1,0.8-1.4s1.2-0.6,1.9-0.5c0.3,0,0.6,0.1,0.9,0.2c0.3,0.1,0.6,0.2,0.7,0.3c0.2,0.1,0.4,0.2,0.7,0.4
                    c0.1,0.1,0.1,0.2,0.1,0.3c-0.1,0.1-0.2,0.2-0.3,0.1c-0.3-0.2-0.5-0.3-0.6-0.4c-0.2-0.1-0.4-0.2-0.7-0.3s-0.5-0.2-0.8-0.2
                    c-0.6,0-1.1,0.1-1.6,0.4C102,13.4,101.8,13.7,101.8,14.1z"/>
                  <path d="M109.5,14.5c-0.1,0.7,0.6,1.3,2,1.8l0,0c0.8,0.3,1.4,0.6,1.8,1c0.5,0.4,0.7,1,0.6,1.6c-0.1,0.6-0.4,1.1-1,1.4
                    c-0.6,0.3-1.3,0.5-2.1,0.4c-1-0.1-1.8-0.6-2.7-1.5c-0.1-0.1-0.1-0.2,0-0.3c0,0,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0.1
                    c0.7,0.8,1.5,1.2,2.4,1.3c0.7,0.1,1.2,0,1.7-0.3c0.5-0.3,0.7-0.6,0.8-1.1c0.1-0.8-0.6-1.5-2.2-2l0,0c-1.7-0.6-2.4-1.3-2.3-2.3
                    c0.1-0.6,0.4-1,1-1.3c0.6-0.3,1.2-0.4,1.9-0.3c0.3,0,0.6,0.1,0.9,0.3c0.3,0.1,0.5,0.3,0.7,0.4s0.4,0.3,0.6,0.5
                    c0.1,0.1,0.1,0.2,0,0.4c-0.1,0.1-0.2,0.1-0.3,0c-0.2-0.2-0.4-0.4-0.6-0.5c-0.2-0.1-0.4-0.2-0.6-0.4c-0.3-0.1-0.5-0.2-0.8-0.2
                    c-0.6-0.1-1.1,0-1.6,0.3C109.8,13.8,109.6,14.1,109.5,14.5z"/>
                  <path d="M116.2,17.4c0.3-1.1,0.9-1.9,1.8-2.4c0.9-0.6,1.8-0.7,2.8-0.4c1,0.3,1.7,0.9,2.2,1.8c0.5,0.9,0.6,1.9,0.3,3
                    c-0.3,1.1-0.9,1.9-1.8,2.4c-0.9,0.6-1.8,0.7-2.8,0.4c-1-0.3-1.7-0.9-2.2-1.8C116,19.4,115.9,18.4,116.2,17.4z M120.6,15
                    c-0.8-0.2-1.6-0.1-2.4,0.4c-0.8,0.5-1.3,1.2-1.5,2.1c-0.2,0.9-0.2,1.8,0.3,2.6c0.4,0.8,1.1,1.3,1.9,1.5c0.8,0.2,1.6,0.1,2.4-0.4
                    c0.8-0.5,1.3-1.2,1.5-2.1c0.2-0.9,0.1-1.8-0.3-2.6C122.1,15.8,121.4,15.3,120.6,15z"/>
                  <path d="M129,25.6l-1.7-7.8l-2.5,5.9c0,0.1-0.1,0.1-0.1,0.1c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1-0.1-0.1-0.1c0-0.1,0-0.1,0-0.2
                    l2.8-6.6c0-0.1,0.1-0.2,0.2-0.2c0.1,0,0.2,0,0.2,0c0.1,0,0.1,0.1,0.1,0.2l1.8,7.8l2.5-5.8c0-0.1,0.1-0.1,0.1-0.1
                    c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.1,0.1c0,0.1,0,0.1,0,0.2l-2.8,6.6c0,0.1-0.1,0.1-0.1,0.1c-0.1,0-0.1,0-0.2,0
                    C129.1,25.8,129.1,25.8,129,25.6L129,25.6z"/>
                  <path d="M134.8,28.6l3.7-6.2c0-0.1,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.1,0.2c0,0.1,0,0.1,0,0.2l-3.7,6.2
                    c0,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1-0.1-0.1-0.2C134.7,28.7,134.7,28.6,134.8,28.6z"/>
                  <path d="M141,25.8c-0.4,0.6-0.1,1.5,0.9,2.5l0,0c0.6,0.6,1,1.2,1.2,1.7c0.2,0.6,0.2,1.2-0.2,1.7c-0.4,0.5-0.9,0.7-1.6,0.7
                    c-0.7,0-1.4-0.2-2-0.7c-0.8-0.6-1.3-1.4-1.6-2.6c0-0.2,0-0.3,0.2-0.3c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.1,0.1
                    c0.3,1,0.8,1.8,1.5,2.3c0.5,0.4,1.1,0.6,1.7,0.6c0.5,0,0.9-0.2,1.2-0.6c0.5-0.7,0.2-1.6-1-2.8l0,0c-1.2-1.3-1.5-2.3-0.9-3.1
                    c0.3-0.5,0.8-0.7,1.5-0.7c0.6,0,1.3,0.2,1.9,0.6c0.3,0.2,0.5,0.4,0.7,0.7s0.3,0.5,0.4,0.7c0.1,0.2,0.2,0.4,0.3,0.7
                    c0.1,0.1,0,0.3-0.1,0.3c-0.1,0.1-0.2,0-0.3-0.1c-0.1-0.3-0.2-0.5-0.3-0.7c-0.1-0.2-0.2-0.4-0.4-0.6c-0.2-0.2-0.4-0.4-0.6-0.6
                    c-0.5-0.4-1-0.5-1.5-0.5C141.6,25.3,141.2,25.5,141,25.8z"/>
                </g>
                <g>
                  <g>
                    <path class="st1" d="M107.7,29.7c0,0.1-0.1,0.2-0.2,0.3l-2.5,2.5l0.6,3.5c0,0,0,0.1,0,0.1c0,0.1,0,0.2-0.1,0.2
                      c0,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.2,0-0.3-0.1l-3.1-1.7l-3.1,1.7c-0.1,0.1-0.2,0.1-0.3,0.1c-0.1,0-0.2,0-0.2-0.1
                      c0-0.1-0.1-0.2-0.1-0.2c0,0,0-0.1,0-0.1l0.6-3.5L96.2,30c-0.1-0.1-0.2-0.2-0.2-0.3c0-0.2,0.1-0.3,0.4-0.3l3.5-0.5l1.6-3.2
                      c0.1-0.2,0.2-0.3,0.3-0.3s0.3,0.1,0.3,0.3l1.6,3.2l3.5,0.5C107.6,29.4,107.7,29.5,107.7,29.7z"/>
                  </g>
                  <g>
                    <path class="st1" d="M90.8,30.7c0,0.1,0,0.1,0,0.3l-1.1,2.1l1.1,2.1c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.2c0,0.1-0.1,0.1-0.1,0.1
                      c-0.1,0-0.1,0-0.2,0l-2.4-0.4l-1.7,1.7C86.5,37,86.4,37,86.4,37c-0.1,0-0.1,0-0.2,0c0,0-0.1-0.1-0.1-0.1c0,0,0,0,0-0.1
                      l-0.4-2.4l-2.2-1c-0.1-0.1-0.2-0.1-0.2-0.2c0-0.1,0-0.2,0.2-0.3l2.1-1.1l0.3-2.4c0-0.1,0.1-0.2,0.2-0.3c0.1,0,0.2,0,0.3,0.1
                      l1.7,1.7l2.4-0.4C90.7,30.5,90.8,30.6,90.8,30.7z"/>
                  </g>
                  <g>
                    <path class="st1" d="M113.2,30.6l2.4,0.4l1.7-1.7c0.1-0.1,0.2-0.1,0.3-0.1c0.1,0,0.1,0.1,0.2,0.3l0.3,2.4l2.1,1.1
                      c0.2,0.1,0.2,0.2,0.2,0.3c0,0.1-0.1,0.1-0.2,0.2l-2.2,1l-0.4,2.4c0,0,0,0.1,0,0.1c0,0.1-0.1,0.1-0.1,0.1c0,0-0.1,0-0.2,0
                      c-0.1,0-0.1-0.1-0.2-0.1l-1.7-1.7l-2.4,0.4c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1-0.1-0.1-0.1c0-0.1,0-0.1,0-0.2c0,0,0-0.1,0-0.1
                      l1.1-2.1l-1.1-2.1c-0.1-0.1-0.1-0.2,0-0.3C113,30.6,113.1,30.5,113.2,30.6z"/>
                  </g>
                </g>
                <g>
                  <g>
                    <path class="st1" d="M107.3,95.5l-3.5,0.5l-1.6,3.2c-0.1,0.2-0.2,0.3-0.3,0.3s-0.3-0.1-0.3-0.3L99.9,96l-3.5-0.5
                      c-0.3,0-0.4-0.1-0.4-0.3c0-0.1,0.1-0.2,0.2-0.3l2.6-2.5l-0.6-3.5c0-0.1,0-0.1,0-0.1c0-0.1,0-0.2,0.1-0.2c0-0.1,0.1-0.1,0.2-0.1
                      c0.1,0,0.2,0,0.3,0.1l3.1,1.7l3.1-1.7c0.1-0.1,0.2-0.1,0.3-0.1c0.1,0,0.2,0,0.2,0.1c0,0.1,0.1,0.2,0.1,0.2c0,0.1,0,0.1,0,0.1
                      l-0.6,3.5l2.5,2.5c0.1,0.1,0.2,0.2,0.2,0.3C107.7,95.4,107.6,95.5,107.3,95.5z"/>
                  </g>
                  <g>
                    <path class="st1" d="M90.5,94.3l-2.4-0.4l-1.7,1.7c-0.1,0.1-0.2,0.1-0.3,0.1c-0.1,0-0.1-0.1-0.2-0.3L85.7,93L83.6,92
                      c-0.2-0.1-0.2-0.2-0.2-0.3c0-0.1,0.1-0.1,0.2-0.2l2.2-1l0.4-2.4c0,0,0-0.1,0-0.1c0-0.1,0.1-0.1,0.1-0.1c0,0,0.1,0,0.2,0
                      c0.1,0,0.1,0.1,0.2,0.1l1.7,1.7l2.4-0.4c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.1,0.1c0,0.1,0,0.1,0,0.2c0,0,0,0.1,0,0.1l-1.1,2.1
                      l1.1,2.1c0.1,0.1,0.1,0.2,0,0.3C90.8,94.3,90.7,94.3,90.5,94.3z"/>
                  </g>
                  <g>
                    <path class="st1" d="M112.9,94.2c0-0.1,0-0.1,0-0.3l1.1-2.1l-1.1-2.1c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.2c0-0.1,0.1-0.1,0.1-0.1
                      c0.1,0,0.1,0,0.2,0l2.4,0.4l1.7-1.7c0.1-0.1,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0c0,0,0.1,0.1,0.1,0.1c0,0,0,0,0,0.1l0.4,2.4
                      l2.2,1c0.1,0.1,0.2,0.1,0.2,0.2c0,0.1,0,0.2-0.2,0.3L118,93l-0.3,2.4c0,0.1-0.1,0.2-0.2,0.3c-0.1,0-0.2,0-0.3-0.1l-1.7-1.7
                      l-2.4,0.4C113.1,94.3,113,94.3,112.9,94.2z"/>
                  </g>
                </g>
              </g>
            </g>
            <rect x="55.7" y="102.8" class="st2" width="92.8" height="28.9"/>
          </g>
          </svg>
          <% elsif session[:locale].to_s == 'fr'%>
            <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 204.2 146.1" style="enable-background:new 0 0 204.2 146.1;" xml:space="preserve" class="badge--full">
            <style type="text/css">
              .st0{fill:#FFFFFF;}
              .st1{fill:#FFCE03;}
              .st2{fill:none;}
            </style>
            <g id="Layer_1">
              <g>
                <g>
                  <g>
                    <circle class="st0" cx="101.9" cy="73.1" r="69.2"/>
                    <path class="st1" d="M101.9,143.8c-39,0-70.7-31.7-70.7-70.7S62.9,2.3,101.9,2.3S172.6,34,172.6,73S140.9,143.8,101.9,143.8z
                       M101.9,5.3C64.6,5.3,34.2,35.7,34.2,73s30.4,67.7,67.7,67.7s67.7-30.4,67.7-67.7S139.2,5.3,101.9,5.3z"/>
                  </g>
                  <g>
                    <g>
                      <g>
                        <path class="st1" d="M36.4,95.5c-2.4-7-3.7-14.6-3.7-22.5s1.3-15.4,3.7-22.5H1.2L13,73.1L1.2,95.5H36.4z"/>
                      </g>
                      <path class="st0" d="M35.1,91.4c-0.1-0.3-0.2-0.7-0.3-1h-31l-0.5,1H35.1z"/>
                      <path class="st0" d="M3.3,54.7l0.5,1h31c0.1-0.3,0.2-0.7,0.3-1H3.3z"/>
                    </g>
                    <g>
                      <g>
                        <path class="st1" d="M167.8,95.5c2.4-7,3.7-14.6,3.7-22.5s-1.3-15.4-3.7-22.5H203L191.1,73L203,95.4L167.8,95.5L167.8,95.5z"
                          />
                      </g>
                      <path class="st0" d="M169.1,91.4c0.1-0.3,0.2-0.7,0.3-1h31l0.5,1H169.1z"/>
                      <path class="st0" d="M200.9,54.7l-0.5,1h-31c-0.1-0.3-0.2-0.7-0.3-1H200.9z"/>
                    </g>
                    <g>
                      <rect x="31.9" y="39.5" class="st1" width="140" height="45"/>
                      <g>
                        <rect x="31.9" y="43.7" class="st0" width="140" height="1"/>
                        <rect x="31.9" y="79.3" class="st0" width="140" height="1"/>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path class="st1" d="M107.7,29.7c0,0.1-0.1,0.2-0.2,0.3l-2.5,2.5l0.6,3.5v0.1c0,0.1,0,0.2-0.1,0.2c0,0.1-0.1,0.1-0.2,0.1
                          s-0.2,0-0.3-0.1l-3.1-1.7l-3.1,1.7c-0.1,0.1-0.2,0.1-0.3,0.1c-0.1,0-0.2,0-0.2-0.1s-0.1-0.2-0.1-0.2V36l0.6-3.5L96.2,30
                          c-0.1-0.1-0.2-0.2-0.2-0.3c0-0.2,0.1-0.3,0.4-0.3l3.5-0.5l1.6-3.2c0.1-0.2,0.2-0.3,0.3-0.3s0.3,0.1,0.3,0.3l1.6,3.2l3.5,0.5
                          C107.6,29.4,107.7,29.5,107.7,29.7z"/>
                      </g>
                      <g>
                        <path class="st1" d="M90.8,30.7c0,0.1,0,0.1,0,0.3l-1.1,2.1l1.1,2.1c0,0,0,0,0,0.1s0,0.1,0,0.2c0,0.1-0.1,0.1-0.1,0.1
                          c-0.1,0-0.1,0-0.2,0l-2.4-0.4l-1.7,1.7c0.1,0.1,0,0.1,0,0.1c-0.1,0-0.1,0-0.2,0l-0.1-0.1c0,0,0,0,0-0.1l-0.4-2.4l-2.2-1
                          c-0.1-0.1-0.2-0.1-0.2-0.2c0-0.1,0-0.2,0.2-0.3l2.1-1.1l0.3-2.4c0-0.1,0.1-0.2,0.2-0.3c0.1,0,0.2,0,0.3,0.1l1.7,1.7l2.4-0.4
                          C90.7,30.5,90.8,30.6,90.8,30.7z"/>
                      </g>
                      <g>
                        <path class="st1" d="M113.2,30.6l2.4,0.4l1.7-1.7c0.1-0.1,0.2-0.1,0.3-0.1c0.1,0,0.1,0.1,0.2,0.3l0.3,2.4l2.1,1.1
                          c0.2,0.1,0.2,0.2,0.2,0.3s-0.1,0.1-0.2,0.2l-2.2,1l-0.4,2.4V37c0,0.1-0.1,0.1-0.1,0.1s-0.1,0-0.2,0s-0.1-0.1-0.2-0.1l-1.7-1.7
                          l-2.4,0.4c-0.1,0-0.1,0-0.2,0s-0.1-0.1-0.1-0.1c0-0.1,0-0.1,0-0.2v-0.1l1.1-2.1l-1.1-2.1c-0.1-0.1-0.1-0.2,0-0.3
                          C113,30.6,113.1,30.5,113.2,30.6z"/>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path class="st1" d="M107.3,95.5l-3.5,0.5l-1.6,3.2c-0.1,0.2-0.2,0.3-0.3,0.3s-0.3-0.1-0.3-0.3L99.9,96l-3.5-0.5
                          c-0.3,0-0.4-0.1-0.4-0.3c0-0.1,0.1-0.2,0.2-0.3l2.6-2.5l-0.6-3.5c0-0.1,0-0.1,0-0.1c0-0.1,0-0.2,0.1-0.2
                          c0-0.1,0.1-0.1,0.2-0.1s0.2,0,0.3,0.1l3.1,1.7l3.1-1.7c0.1-0.1,0.2-0.1,0.3-0.1c0.1,0,0.2,0,0.2,0.1s0.1,0.2,0.1,0.2
                          c0,0.1,0,0.1,0,0.1l-0.6,3.5l2.5,2.5c0.1,0.1,0.2,0.2,0.2,0.3C107.7,95.4,107.6,95.5,107.3,95.5z"/>
                      </g>
                      <g>
                        <path class="st1" d="M90.5,94.3l-2.4-0.4l-1.7,1.7c-0.1,0.1-0.2,0.1-0.3,0.1c-0.1,0-0.1-0.1-0.2-0.3L85.7,93l-2.1-1
                          c-0.2-0.1-0.2-0.2-0.2-0.3c0-0.1,0.1-0.1,0.2-0.2l2.2-1l0.4-2.4V88c0-0.1,0.1-0.1,0.1-0.1s0.1,0,0.2,0s0.1,0.1,0.2,0.1
                          l1.7,1.7l2.4-0.4c0.1,0,0.1,0,0.2,0s0.1,0.1,0.1,0.1c0,0.1,0,0.1,0,0.2v0.1L90,91.8l1.1,2.1c0.1,0.1,0.1,0.2,0,0.3
                          C90.8,94.3,90.7,94.3,90.5,94.3z"/>
                      </g>
                      <g>
                        <path class="st1" d="M112.9,94.2c0-0.1,0-0.1,0-0.3l1.1-2.1l-1.1-2.1c0,0,0,0,0-0.1s0-0.1,0-0.2s0.1-0.1,0.1-0.1
                          c0.1,0,0.1,0,0.2,0l2.4,0.4l1.7-1.7c0.1-0.1,0.1-0.1,0.2-0.1s0.1,0,0.2,0l0.1,0.1c0,0,0,0,0,0.1l0.4,2.4l2.2,1
                          c0.1,0.1,0.2,0.1,0.2,0.2s0,0.2-0.2,0.3l-2.4,1l-0.3,2.4c0,0.1-0.1,0.2-0.2,0.3c-0.1,0-0.2,0-0.3-0.1l-1.7-1.7l-2.4,0.4
                          C113.1,94.3,113,94.3,112.9,94.2z"/>
                      </g>
                    </g>
                  </g>
                </g>
                <rect x="55.7" y="102.8" class="st2" width="92.8" height="28.9"/>
              </g>
            </g>
            <g id="Isolation_Mode">
              <g>
                <path d="M56.9,71.5c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0-0.2,0c-0.2-0.1-0.2-0.2-0.3-0.3c0,0,0,0,0,0l0,0L49.3,55
                  c-0.1-0.2-0.1-0.3,0-0.5c0.1-0.2,0.2-0.3,0.3-0.3c0.2-0.1,0.3-0.1,0.5,0s0.3,0.2,0.3,0.3l6.2,14.9l6.3-14.9c0-0.2,0.2-0.3,0.3-0.3
                  s0.3-0.1,0.5,0c0.1,0.1,0.3,0.2,0.3,0.3c0.1,0.2,0.1,0.3,0,0.5l-6.8,16C57.2,71.2,57.1,71.4,56.9,71.5L56.9,71.5z"/>
                <path d="M69.1,54.6c0-0.2,0.1-0.3,0.2-0.4c0.1-0.1,0.3-0.2,0.4-0.2h9c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.4
                  c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.4,0.2h-8.4v6.9h7.3c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.4
                  c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.4,0.2h-7.3v6.9h8.4c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.4
                  c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.4,0.2h-9c-0.2,0-0.3-0.1-0.4-0.2s-0.2-0.2-0.2-0.4V54.6z M75.6,49.5
                  c0.2-0.2,0.3-0.3,0.3-0.5s-0.1-0.2-0.3-0.4s-0.5-0.2-0.7-0.2s-0.5,0.2-0.7,0.5l-1.5,2.3c-0.1,0.1-0.1,0.2-0.1,0.3
                  c0,0.1,0.1,0.2,0.4,0.2c0.3,0,0.5-0.1,0.7-0.3L75.6,49.5z"/>
                <path d="M94.2,71.2c-1.1,0-1.6-1.2-1.6-3.7c0-1.1-0.5-1.9-1.4-2.6c-0.7-0.5-1.4-0.8-2.1-0.9c0,0,0,0,0,0h-4.2v6.9
                  c0,0.2-0.1,0.3-0.2,0.4s-0.3,0.2-0.4,0.2s-0.3-0.1-0.4-0.2c-0.1-0.1-0.2-0.3-0.2-0.4V54.6c0-0.1,0.1-0.3,0.2-0.4S84,54,84.1,54h5
                  c1.4,0,2.6,0.5,3.5,1.5c1,1,1.4,2.2,1.4,3.5c0,1-0.3,1.9-0.8,2.7s-1.2,1.4-2.1,1.8l0.2,0.1c0.7,0.4,1.2,0.9,1.7,1.6
                  c0.4,0.6,0.7,1.5,0.7,2.6s0.2,1.8,0.5,2.1c0.4,0,0.6,0.1,0.7,0.4c0.1,0.4,0,0.7-0.4,0.8h0L94.2,71.2L94.2,71.2z M91.8,61.6
                  c0.7-0.7,1.1-1.6,1.1-2.6c0-1-0.4-1.9-1.1-2.6s-1.6-1.1-2.7-1.1h-4.3v7.5h4.4C90.3,62.8,91.1,62.4,91.8,61.6z"/>
                <path d="M99.7,70.9V54.6c0-0.2,0.1-0.3,0.2-0.4c0.1-0.1,0.3-0.2,0.4-0.2c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.4v16.3
                  c0,0.2-0.1,0.3-0.2,0.4s-0.3,0.2-0.4,0.2c-0.2,0-0.3-0.1-0.4-0.2C99.8,71.2,99.7,71.1,99.7,70.9z"/>
                <path d="M107.2,70.9V54.6c0-0.4,0.2-0.6,0.6-0.6h9c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.4s-0.1,0.3-0.2,0.4
                  s-0.3,0.2-0.4,0.2h-8.4v6.9h7.3c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.4c0,0.2-0.1,0.3-0.2,0.4s-0.3,0.2-0.4,0.2h-7.3v7.5
                  c0,0.2-0.1,0.3-0.2,0.4s-0.3,0.2-0.4,0.2c-0.2,0-0.3-0.1-0.4-0.2S107.2,71.1,107.2,70.9z"/>
                <path d="M122.5,70.9V54.6c0-0.2,0.1-0.3,0.2-0.4c0.1-0.1,0.3-0.2,0.4-0.2c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.4v16.3
                  c0,0.2-0.1,0.3-0.2,0.4s-0.3,0.2-0.4,0.2c-0.2,0-0.3-0.1-0.4-0.2C122.5,71.2,122.5,71.1,122.5,70.9z"/>
                <path d="M129.9,54.6c0-0.2,0.1-0.3,0.2-0.4c0.1-0.1,0.3-0.2,0.4-0.2h9c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.4
                  c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.4,0.2h-8.4v6.9h7.3c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.4
                  c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.4,0.2h-7.3v6.9h8.4c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.4
                  c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.4,0.2h-9.1c-0.2,0-0.3-0.1-0.4-0.2c-0.1-0.1-0.2-0.2-0.2-0.4V54.6z M136.4,49.5
                  c0.2-0.2,0.3-0.3,0.3-0.5s-0.1-0.2-0.4-0.4c-0.2-0.1-0.5-0.2-0.7-0.2s-0.5,0.2-0.7,0.5l-1.5,2.3c-0.1,0.1-0.1,0.2-0.1,0.3
                  c0,0.1,0.1,0.2,0.4,0.2s0.5-0.1,0.7-0.3L136.4,49.5z"/>
                <path d="M144.8,70.9V54.6c0-0.2,0.1-0.3,0.2-0.4c0.1-0.1,0.3-0.2,0.4-0.2h9c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.4
                  c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.4,0.2H146v6.9h7.3c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.4
                  c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.4,0.2H146v6.9h8.4c0.2,0,0.3,0.1,0.4,0.2s0.2,0.3,0.2,0.4c0,0.2-0.1,0.3-0.2,0.4
                  s-0.3,0.2-0.4,0.2h-9.1c-0.1,0-0.3-0.1-0.4-0.2C144.8,71.2,144.8,71.1,144.8,70.9z"/>
              </g>
              <g>
                <path d="M61,31.6c-1-0.2-1.7-0.6-2.3-1.5s-0.7-1.7-0.6-2.7c0.2-1,0.7-1.7,1.5-2.3c0.7-0.5,1.5-0.7,2.3-0.7c0.1,0,0.1,0,0.2,0.1
                  c0,0.1,0.1,0.1,0.1,0.2c0,0.1,0,0.1-0.1,0.2C62.1,25,62,25,62,25c-0.7,0-1.4,0.1-2,0.6c-0.7,0.5-1.2,1.2-1.3,2
                  c-0.2,0.8,0,1.6,0.5,2.3c0.5,0.7,1.1,1.1,2,1.3c0.8,0.1,1.6,0,2.3-0.5c0.7-0.5,1.1-1,1.3-1.7c0-0.1,0.1-0.1,0.1-0.1
                  c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.2,0.1s0,0.1,0,0.2c-0.3,0.8-0.7,1.4-1.4,1.9C62.9,31.6,62,31.8,61,31.6z"/>
                <path d="M67.2,28.5L64,22.8c0-0.1,0-0.1,0-0.2c0-0.1,0.1-0.1,0.1-0.1l3.1-1.8c0.1,0,0.1,0,0.2,0s0.1,0.1,0.1,0.1
                  c0,0.1,0,0.1,0,0.2c0,0.1-0.1,0.1-0.1,0.1l-2.9,1.6l1.3,2.4l2.6-1.4c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.1,0.1c0,0.1,0,0.1,0,0.2
                  c0,0.1-0.1,0.1-0.1,0.1l-2.6,1.4l1.3,2.4l2.9-1.6c0.1,0,0.1,0,0.2,0s0.1,0.1,0.1,0.1c0,0.1,0,0.1,0,0.2c0,0.1-0.1,0.1-0.1,0.1
                  l-3.2,1.8c-0.1,0-0.1,0-0.2,0C67.2,28.6,67.2,28.6,67.2,28.5z"/>
                <path d="M73.9,25l-2.5-5.7l-1.9,0.9c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1-0.1-0.1-0.1s0-0.1,0-0.2s0.1-0.1,0.1-0.1l4.3-1.9
                  c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.1,0.1s0,0.1,0,0.2c0,0.1-0.1,0.1-0.1,0.1l-1.9,0.9l2.5,5.7c0,0.1,0,0.1,0,0.2
                  c0,0.1-0.1,0.1-0.1,0.1c-0.1,0-0.1,0-0.2,0C74,25.1,74,25.1,73.9,25z"/>
                <path d="M79.8,22.7l-2-5.9l-2,0.7c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1-0.1-0.1-0.1c0-0.1,0-0.1,0-0.2s0.1-0.1,0.1-0.1l4.5-1.5
                  c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.1,0.1s0,0.1,0,0.2c0,0.1-0.1,0.1-0.1,0.1l-2,0.7l2,5.9c0,0.1,0,0.1,0,0.2
                  c0,0.1-0.1,0.1-0.1,0.1c-0.1,0-0.1,0-0.2,0C79.9,22.8,79.8,22.8,79.8,22.7z"/>
                <path d="M84.2,21.3L82.6,15c0-0.1,0-0.1,0-0.2c0-0.1,0.1-0.1,0.1-0.1l3.5-0.8c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.1,0.2
                  c0,0.1,0,0.1,0,0.2c0,0.1-0.1,0.1-0.1,0.1l-3.3,0.8l0.6,2.7l2.8-0.7c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.1,0.2c0,0.1,0,0.1,0,0.2
                  c0,0.1-0.1,0.1-0.1,0.1l-2.8,0.7l0.6,2.7l3.3-0.8c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.1,0.2s0,0.1,0,0.2c0,0.1-0.1,0.1-0.1,0.1
                  l-3.5,0.8c-0.1,0-0.1,0-0.2,0C84.2,21.4,84.2,21.4,84.2,21.3z"/>
                <path d="M96.6,19.4L93,19.8c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.1-0.1-0.1-0.2L92,13.1c0-0.1,0-0.1,0.1-0.2c0-0.1,0.1-0.1,0.2-0.1
                  s0.1,0,0.2,0.1c0.1,0,0.1,0.1,0.1,0.2l0.7,6.2l3.3-0.4c0.1,0,0.1,0,0.2,0.1c0.1,0,0.1,0.1,0.1,0.2c0,0.1,0,0.1-0.1,0.2
                  C96.7,19.4,96.7,19.4,96.6,19.4z"/>
                <path d="M98.2,19.1l-0.2-6.5c0-0.1,0-0.1,0.1-0.2s0.1-0.1,0.2-0.1l3.6-0.1c0.1,0,0.1,0,0.2,0.1c0,0,0.1,0.1,0.1,0.2
                  c0,0.1,0,0.1-0.1,0.2c0,0-0.1,0.1-0.2,0.1l-3.3,0.1l0.1,2.8l2.9-0.1c0.1,0,0.1,0,0.2,0.1c0,0,0.1,0.1,0.1,0.2c0,0.1,0,0.1-0.1,0.2
                  s-0.1,0.1-0.2,0.1L98.6,16l0.1,2.8l3.3-0.1c0.1,0,0.1,0,0.2,0.1c0,0,0.1,0.1,0.1,0.2c0,0.1,0,0.1-0.1,0.2s-0.1,0.1-0.2,0.1
                  l-3.6,0.1c-0.1,0-0.1,0-0.2-0.1C98.3,19.2,98.2,19.1,98.2,19.1z"/>
                <path d="M104.9,18.2c-0.7-0.7-1-1.6-0.9-2.6c0.1-1,0.5-1.8,1.2-2.4c0.8-0.6,1.6-0.9,2.6-0.9c0.8,0.1,1.6,0.4,2.2,0.9
                  c0.1,0.1,0.1,0.1,0.1,0.2c0,0.1,0,0.1-0.1,0.2c0,0.1-0.1,0.1-0.2,0.1s-0.1,0-0.2-0.1c-0.5-0.5-1.2-0.8-1.9-0.8
                  c-0.9-0.1-1.6,0.2-2.3,0.7c-0.7,0.6-1,1.3-1.1,2.1c-0.1,0.8,0.2,1.6,0.8,2.2s1.3,1,2.1,1c0.8,0.1,1.5-0.1,2.1-0.5
                  c0.1,0,0.1,0,0.2,0s0.1,0.1,0.1,0.1c0,0,0.1,0.1,0,0.2c0,0.1,0,0.1-0.1,0.2c-0.7,0.5-1.5,0.7-2.3,0.6
                  C106.4,19.3,105.5,18.9,104.9,18.2z M107.5,19.3l-0.7,1.3c-0.1,0.1-0.2,0.2-0.3,0.2s-0.2,0-0.2-0.1c-0.1-0.1-0.1-0.1-0.1-0.2
                  s0-0.1,0.1-0.2l0.8-1.1L107.5,19.3z"/>
                <path d="M111.9,16.2c0.2-1,0.7-1.7,1.4-2.3c0.8-0.6,1.6-0.8,2.5-0.6s1.6,0.7,2.1,1.4s0.7,1.7,0.5,2.7c-0.2,1-0.7,1.7-1.4,2.3
                  c-0.8,0.6-1.6,0.8-2.5,0.6c-0.9-0.2-1.6-0.7-2.2-1.5C111.9,18.1,111.7,17.2,111.9,16.2z M115.7,13.8c-0.8-0.1-1.5,0-2.2,0.5
                  c-0.7,0.5-1.1,1.1-1.2,2c-0.2,0.8,0,1.6,0.4,2.3s1.1,1.1,1.8,1.2c0.8,0.1,1.5,0,2.1-0.5c0.7-0.5,1.1-1.1,1.2-2
                  c0.1-0.8,0-1.6-0.4-2.3C117.1,14.4,116.5,14,115.7,13.8z"/>
                <path d="M124.2,22.7l-2.3-6.8l-1.7,5.5c0,0.1-0.1,0.1-0.1,0.1s-0.1,0-0.2,0s-0.1-0.1-0.1-0.1c0-0.1,0-0.1,0-0.2l1.9-6.1
                  c0-0.1,0-0.2,0.1-0.2c0.1,0,0.2,0,0.2,0c0.1,0,0.1,0.1,0.1,0.1l2.3,6.9l1.7-5.4c0-0.1,0.1-0.1,0.1-0.1c0.1,0,0.1,0,0.2,0
                  s0.1,0.1,0.1,0.1c0,0.1,0,0.1,0,0.2l-1.9,6.2c0,0.1-0.1,0.1-0.1,0.1s-0.1,0-0.2,0C124.3,22.8,124.3,22.8,124.2,22.7L124.2,22.7z"
                  />
                <path d="M129.7,24.7l2.8-5.9c0-0.1,0.1-0.1,0.1-0.1c0.1,0,0.1,0,0.2,0l3.3,1.5c0.1,0,0.1,0.1,0.1,0.1c0,0.1,0,0.1,0,0.2
                  c0,0.1-0.1,0.1-0.1,0.1c-0.1,0-0.1,0-0.2,0l-3-1.4l-1.2,2.5l2.6,1.2c0.1,0,0.1,0.1,0.1,0.1c0,0.1,0,0.1,0,0.2
                  c0,0.1-0.1,0.1-0.1,0.1c-0.1,0-0.1,0-0.2,0l-2.6-1.2l-1.2,2.5l3,1.4c0.1,0,0.1,0.1,0.1,0.1c0,0.1,0,0.1,0,0.2
                  c0,0.1-0.1,0.1-0.1,0.1c-0.1,0-0.1,0-0.2,0l-3.3-1.5c-0.1,0-0.1-0.1-0.1-0.1C129.6,24.8,129.7,24.7,129.7,24.7z"/>
                <path d="M137.7,23c-0.3,0.6,0,1.3,1,2.2l0,0c0.6,0.5,1,1,1.2,1.5c0.3,0.5,0.3,1.1,0,1.5c-0.3,0.5-0.7,0.7-1.4,0.8
                  c-0.6,0.1-1.2-0.1-1.8-0.4c-0.8-0.5-1.3-1.2-1.7-2.2c0-0.1,0-0.2,0.1-0.3c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.1,0.1
                  c0.3,0.9,0.9,1.6,1.5,1.9c0.5,0.3,1,0.4,1.6,0.4c0.5,0,0.8-0.2,1-0.6c0.4-0.6,0-1.5-1.1-2.4l0,0c-1.2-1.1-1.6-2-1.1-2.8
                  c0.3-0.4,0.7-0.7,1.3-0.8c0.6-0.1,1.2,0.1,1.7,0.4c0.2,0.1,0.5,0.3,0.7,0.6c0.2,0.2,0.3,0.4,0.4,0.6c0.1,0.2,0.2,0.4,0.3,0.6
                  c0.1,0.1,0,0.2-0.1,0.3c-0.1,0.1-0.2,0-0.3-0.1c-0.1-0.3-0.2-0.5-0.3-0.6c-0.1-0.2-0.2-0.3-0.4-0.5c-0.2-0.2-0.4-0.4-0.6-0.5
                  c-0.5-0.3-1-0.4-1.4-0.4C138.2,22.5,137.9,22.7,137.7,23z"/>
                <path d="M142,31.7l3.7-5.1l-1.7-1.2c-0.1,0-0.1-0.1-0.1-0.2s0-0.1,0-0.2c0-0.1,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0l3.8,2.7
                  c0.1,0,0.1,0.1,0.1,0.2c0,0.1,0,0.1,0,0.2c0,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.1,0-0.2,0l-1.7-1.2l-3.7,5.1c0,0.1-0.1,0.1-0.2,0.1
                  c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1-0.1-0.1-0.2C141.9,31.8,141.9,31.7,142,31.7z"/>
              </g>
            </g>
            </svg>

          <% end %>
          <span class="lesson--single-verification-message"><%= @lesson.verification_message%></span>
          <svg id="Artwork" xmlns="http://www.w3.org/2000/svg" width="125.3" height="27.7" viewBox="0 0 125.3 27.7" class="badge--small">
              <defs>
                <style>
                  .cls-1 {
                    fill: #ffce03;
                  }

                  .cls-2 {
                    font-size: 11px;
                    font-family: Quicksand;
                  }
                </style>
              </defs>
              <title>verification-ribbon-small</title>
              <g id="GRID">
                <g>
                  <g>
                    <polygon class="cls-1" points="1.6 24.5 123.4 24.5 117.3 14 123.4 3.2 1.6 3.2 7 14 1.6 24.5"/>
                    <polygon class="cls-1" points="123.8 2.6 125.3 0 0 0 1.3 2.6 123.8 2.6"/>
                    <polygon class="cls-1" points="1.3 25.2 0 27.7 125.3 27.7 123.8 25.2 1.3 25.2"/>
                  </g>
                  <text class="cls-2" transform="translate(13.6 17.2)"><%= t('dictionary.lesson-verified') %></text>
                </g>
              </g>
            </svg>
        </div>  
      </div>  
    <% end %>
  </div>
  <div class="lesson--single-title-img" style="background-image: url(<%= @lesson.feature_image.url(:medium) %>)">
  </div>
</div> 
<div id="sticky-nav-target"></div>
<div class="wrapper wrapper--flex wrapper--flex-wrap as--lesson-wrapper" id="lesson--nav-bar">
  <nav class="lesson--nav">
    <p><%= t('lessons.single.jump-to') %></p>
    <ul>
      <li><a href="#introduction" class="custom-color-text"><%= t('lessons.single.intro') %></a></li>
      <li><a href="#prep-work" class="custom-color-text"><%= t('lessons.prep') %></a></li>
      <li><a href="#the-lesson" class="custom-color-text"><%= t('lessons.the-lesson') %></a></li>
      <li><a href="#extensions" class="custom-color-text"><%= t('lessons.extenstions') %></a></li>
      <li><a href="#answers" class="custom-color-text"><%= t('lessons.assessment') %></a></li>
      <li><a href="#suggested-lessons" class="custom-color-text"><%= t('lessons.suggested-lesson') %></a></li>
    </ul>
  </nav>
  <nav class="lesson--single-share">
    <div>
      <p><%= t('lessons.single.share-lesson') %></p>
      <div class="wrapper--flex">
        <a href="#" class="share-print"><i class="fa fa-print" aria-hidden="true"></i> Print</a>
        <a class="twitter-share-button"
          href="https://twitter.com/intent/tweet?text=Hello%20world">
        <%= t('lessons.single.tweet') %></a>
        <a href="" class="share-email"><i class="fa fa-envelope" aria-hidden="true"></i> <%= t('lessons.single.email') %></a>
        <div class="fb-share-button" data-href="<%=request.url%>" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%=request.url%>"><%= t('lessons.single.share') %></a></div>
      </div>
    </div>
  </nav>
</div>
<div class="wrapper wrapper--flex wrapper--flex-wrap as--lesson-wrapper">
  <div class="lesson--single-text">
    <section>
      <h3 class="lesson--section-title" id="introduction"><%= t('lessons.single.intro') %></h3>
      <div class="text-edit">
        <%= @lesson.description.html_safe%>
      </div>
    </section>
    <% if @lesson.prep.present? %>
      <section>
        <h3 class="lesson--section-title" id="prep-work"><%= t('lessons.prep') %></h3>
        <div class="text-edit">
          <%= @lesson.prep.html_safe %>
        </div>
      </section>
    <% end %>
    <section> 
      <h3 class="lesson--section-title active" id="the-lesson"><%= t('lessons.the-lesson') %></h3>
      <div class="text-edit active">
        <%= @lesson.content.html_safe %>
      </div>
    </section>

    <% if @lesson.answers.present? %>
      <section> 
        <h3 class="lesson--section-title" id="assessments"><%= t('lessons.assessments') %></h3>
        <div class="text-edit">
          <%= @lesson.answers.html_safe %>
        </div>
      </section>
    <% end %>
    <% if @lesson.extensions.present? || @lesson.video_link.present? || @lesson.file_upload.file? %>
      <section>
        <h3 class="lesson--section-title" id="extensions"><%= t('lessons.extenstions') %></h3>
        <div class="text-edit">
          <%= @lesson.extensions.html_safe %>
          <% if @lesson.video_link.present?%>
              <%= @lesson.video_link.html_safe %>
          <% end %>
          <% if @lesson.file_upload.file? %>
            <%= link_to 'download additional materials', @lesson.file_upload.url, target: '_blank', class: 'button button--secondary' %>
          <% end %>
        </div>
      </section>
    <% end %>
    
    <% if @lesson.suggested_lessons.present?%>
      <section>
        <h3 class="lesson--section-title" id="suggested-lessons"><%= t('lessons.suggested-lesson') %></h3>
        <div class="text-edit">
          <ul> 
            <% @lesson.suggested_lessons.each do |sug_lesson|%>
              <% if sug_lesson.suggested_lesson_id > 0%>
                <% the_lesson = Lesson.where(id: sug_lesson.suggested_lesson_id.to_i).first%>
                  <li><%= link_to the_lesson.title, lesson_path(the_lesson) %></li>
              <% end %>
            <% end %> 
          </ul>
        </div>
      </section>
    <% end %>
  </div>
  <div class="lesson--single-sidebar">
    <!-- <%= image_tag @lesson.feature_image.url(:medium) %> -->
    <div class="lesson--single-sidebar--text word-wrap">
      <%= link_to like_lesson_path(@lesson), "data-liked" => @lesson.liked_by_user(current_user), class: "likes button--action custom-color-text as--bookmark-button", remote: true,  method: :get, data: { type: :json } do %>
        <%= t('lessons.single.bookmark-lesson')%>
        <span class="lesson--likes">
          <span class="ribbon">
              <span class="likes-count"><%= @lesson.get_upvotes.size %></span>
          </span>
        </span>  
      <% end %>
      <h3><%= t('lessons.intended-province')%>:</h3>
      <p><%= @lesson.province%> <% if @lesson.verified%><span class="lesson--single-verified-check custom-color-text"><i class="fa fa-check-circle" aria-hidden="true"></i> <%= t('dictionary.verified')%></span><% end %></p>
      <ul class="list--tags">
        <li class="title"><%= t('dictionary.subjects') %>:</li>
        <% @lesson.subject_list.each do |subject| %>
          <li class="custom-color-bg"><%= subject %></li>
        <% end %>
      </ul>
      <ul class="list--tags">
        <li class="title"><%= t('dictionary.coding-concepts') %>:</li>
        <% @lesson.code_concept_list.each do |code_concept| %>
          <li class="custom-color-bg">
            <%= link_to glossaries_path(anchor: code_concept.parameterize) do%>
              <%= code_concept %>
            <% end %> 
          </li>
        <% end %>
      </ul>
      <% if @lesson.curriculum_concepts.present? %>
        <h3><%= t('lessons.single.key-curriculum-concepts')%></h3>
        <div class="text-edit">
          <%= @lesson.curriculum_concepts.html_safe %>
        </div>
      <% end %>

      <% if @lesson.programming_concepts.present? %>
        <h3><%= t('lessons.single.key-coding-concepts')%></h3>
        <div class="text-edit">
          <%= @lesson.programming_concepts.html_safe %>
        </div>
      <% end %>

    
      <% if @lesson.lesson_references.present? %>
        <h3><%= t('dictionary.references') %></h3>
        <div class="lesson--single-refs"> 
          <% @lesson.lesson_references.each do |ref|%>
            <p><%= ref.title %></p>
            <%= link_to ref.url, ref.url, target: '_blank'%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>  


<script>

  var centerStickyNav = function(nav){
    var windowWidth = $(window).innerWidth()
    var navWidth = $(nav).width()
    console.log(windowWidth, navWidth)
    var leftMargin = (windowWidth - navWidth) / 2

    $(nav).css('left', leftMargin)
  }
  function sticky_relocate() {
      var window_top = $(window).scrollTop();
      var div_top = $('#sticky-nav-target').offset().top;
      if (window_top > div_top) {
          $('#lesson--nav-bar').addClass('lesson--nav-bar-sticky');
          $('#sticky-nav-target').height($('#lesson--nav-bar').outerHeight());
          centerStickyNav($('#lesson--nav-bar'))
      } else {
          $('#lesson--nav-bar').removeClass('lesson--nav-bar-sticky');
          $('#sticky-nav-target').height(0);
          $('#lesson--nav-bar').css('left', 0)
      }
  }

  $(function(){ 
    $('.lesson--section-title').on('click', function(){
      $(this).siblings('.text-edit').slideToggle('100')
      $(this).toggleClass('active')
    })
    $(window).scroll(sticky_relocate);
    sticky_relocate();

    $('a[href*="#"]:not([href="#"])').click(function() {
       if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
         var target = $(this.hash);
         target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
         if (target.length) {
            var navHeight = $('#lesson--nav-bar').height()
            if (!target.hasClass('active')){
              $(target).siblings('.text-edit').slideToggle('100')
              $(target).toggleClass('active')
            }
           $('html, body').animate({
             scrollTop: target.offset().top - navHeight
           }, 1000);
           return false;
         }
       }
     });
  })

  $(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=965856376884950";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<script>
  function updateVotable(){
    $('.likes').each(function(i, lesson){
      var status = $(lesson).data('liked');
      var url = $(lesson).attr('href')
      var href = url.split('/')
      href.pop()
      var url_start = href.join('/')
      if(status == true){
        console.log(i + 'true')
        $(lesson).attr('href', url_start + '/dislike')
      }else if(status == false){
        $(lesson).attr('href', url_start + '/like')
        console.log(i + 'false')
      }
    })
  }
  $(document).ready(function(){
    $('.share-print').on('click', function(e){
      e.preventDefault()
      window.print()
    });
    $('.likes').on('click', function(e){
      e.preventDefault()

    })
    $('.likes').on('ajax:success', function(e, data, status, xhr){
      console.log(data.count)
      var count = data.count
      var liked = $(this).data('liked')
      $(this).find('.likes-count').html(count)
      if(liked == true){
        $(this).data('liked', false)
      }else if(liked == false){
        $(this).data('liked', true)
      }
      updateVotable();
    });
    updateVotable();
  });
</script>


