<p id="notice"><%= notice %></p>

<%= image_tag @lesson.feature_image.url(:medium) %>
<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Duration in seconds:</strong>
  <%= @lesson.duration_in_seconds %>
</p>

<p>
  <strong>Level:</strong>
  <%= @lesson.level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description.html_safe %>
</p>

<p>
  <strong>Curriculum concepts:</strong>
  <%= @lesson.curriculum_concepts.html_safe %>
</p>

<p>
  <strong>Prep:</strong>
  <%= @lesson.prep.html_safe %>
</p>

<p>
  <strong>Programming concepts:</strong>
  <%= @lesson.programming_concepts.html_safe %>
</p>

<p>
  <strong>Content:</strong>
  <%= @lesson.content.html_safe %>
</p>

<p>
  <strong>Extensions:</strong>
  <%= @lesson.extensions.html_safe %>
</p>

<p>
  <strong>Answers:</strong>
  <%= @lesson.answers.html_safe %>
</p>

<p>
  <strong>Video link:</strong>
  <%= @lesson.video_link %>
</p>
<p>
  <strong>Subject</strong>
  <ul>
    <% @lesson.subject_list.each do |subject| %>
      <li><%= subject %></li>
    <% end %>
  </ul>
</p>
<p>
  <strong>code_concept</strong>
  <ul>
    <% @lesson.code_concept_list.each do |code_concept| %>
      <li><%= code_concept %></li>
    <% end %>
  </ul>
</p>
<p>
  <strong>grade</strong>
  <ul>
    <% @lesson.grade_list.each do |grade| %>
      <li><%= grade %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Profile:</strong>
  <%= @lesson.profile.first_name %> <%= @lesson.profile.last_name %>
</p>
<p>
  <%= link_to 'file upload', @lesson.file_upload.url, target: '_blank' %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
