<div class="list--header">
	<div>
		<%= form_tag(my_lesson_dashboard_path, method: :get, remote: true) do %>
		  <%= label :lesson_title, 'title', 'Lesson Title' %>
		  <%= check_box :lesson_title, 'title', :onchange => "ajaxSubmit(this.form)", class: 'hidden' %>
		<% end %>
	</div>
	<div>Grade</div>
	<div>Subjects</div>
	<div>Concepts</div>
	<div>Updated</div>
</div>
<ul class="list--drafts font-quicksand">
	<% locals[:lessons].each do |lesson|%>
		<li>
			<%= link_to edit_lesson_path(lesson) do %>
				<span><%= lesson.title %></span>
				<span><%= lesson.grade_list %></span>
				<span><%= lesson.subject_list %></span>
				<span><%= lesson.code_concept_list %></span>
				<span><%= lesson.format_date(lesson.created_at)%></span>
			<% end %>
		</li>
	<% end %>
</ul>

<script>
	function ajaxSubmit(form) {
	  var data = $(form).serialize()
	  $.ajax({
	    url: '',  
	    method: 'GET', 
	    data: data
	  });
	  console.log('happening')
	}
</script>