
<ul class="list--drafts font-quicksand">
	<% @lessons.each do |lesson|%>
		<li>
			<%= link_to edit_lesson_path(lesson) do %>
				<span><%= lesson.title %></span>
				<span><%= lesson.grade_list %></span>
				<span><%= lesson.subject_list %></span>
				<span><%= lesson.code_concept_list %></span>
				<span><%= lesson.format_date(lesson.created_at)%></span>
			<% end %>
		</li>
	<% end %>
</ul>

<script>
	function ajaxSubmit(form) {
		console.log('stuff')
	  var data = $(form).serialize()
	  console.log(data, 'data')
	  $.ajax({
	    url: '',  
	    method: 'GET', 
	    data: data
	  });
	  // console.log('happening')
	}
</script>