<ul class="list--bookmarked list--lessons font-quicksand">
	<% @lesson_bookmarked.each do |lesson|%>
		<li>
			<span><%= link_to lesson.title, lesson_path(lesson)%></span>
			<span><%= lesson.author %></span>
			<span><%= lesson.grade %></span>
			<span><%= lesson.subject_list %></span>
			<span><%= lesson.format_date(lesson.updated_at)%></span>
			<span>
				<%= link_to dislike_lesson_path(lesson, source: 'lesson_dashboard'), "data-liked" => lesson.liked_by_user(current_user), class: "likes", remote: true,  method: :get do %>
				  ☃
				<% end %>
			</span>
		</li>
	<% end %>
</ul>
