<ul class="list--drafts list--lessons font-quicksand">
	<% @lesson_drafts.each do |lesson|%>
		<li>
			<%= link_to edit_lesson_path(lesson) do %>
				<span><%= lesson.title %></span>
				<span><%= lesson.grade %></span>
				<span><%= lesson.subject_list %></span>
				<span><%= lesson.code_concept_list %></span>
				<span><%= lesson.format_date(lesson.updated_at)%></span>
			<% end %>
		</li>
	<% end %>
</ul>