<ul class="list--submitted list--lessons font-quicksand">
	<% @lesson_submitted.each do |lesson|%>
		<li>
			<%= link_to edit_lesson_path(lesson) do %>
				<span><%= lesson.approved %></span>
				<span>Y</span>
				<span><%= lesson.title %></span>
				<span><%= lesson.grade_list %></span>
				<span><%= lesson.subject_list%></span>
				<span><%= lesson.format_date(lesson.created_at)%></span>
			<% end %>
		</li>
	<% end %>
</ul>