<!DOCTYPE html>
<html>
<head>
  <title>Teachers Learning Code</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Facebook OG -->
  <meta property="og:title" content="Teachers Learning Code" />
  <meta property="og:site_name" content="Teachers Learning Code"/>
  <meta property="og:url" content="http://teacherslearningcode.com" />
  <meta property="og:description" content="Teachers Learning Code has been designed for primary school teachers with little to no coding experience to be able to teach coding fundamentals to their students. We'll walk teachers through a how-to guide and lesson planning tool to help them teach kids to code."/>
  <meta property="og:image" content="http://ladieslearningcode.com/downloads/banners/tlc-fb-card.jpg" />
  <meta property="og:type" content="website" />

  <!-- Twitter Card -->
  <meta name="twitter:title" content="Teachers Learning Code">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@learningcode">
  <meta name="twitter:creator" content="@learningcode">
  <meta name="twitter:description" content="Teachers Learning Code has been designed for primary school teachers with little to no coding experience to be able to teach coding fundamentals to their students. We'll walk teachers through a how-to guide and lesson planning tool to help them teach kids to code.">
  <meta name="twitter:image" content="http://ladieslearningcode.com/downloads/banners/tlc-twitter-card.jpg">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <script src="https://use.fontawesome.com/43bdd233ba.js"></script>
  <%= favicon_link_tag 'tlc-favicon.png' %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-86161427-1', 'auto');
    ga('send', 'pageview');

  </script>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
  <!-- Latest compiled and minified CSS -->

  
  <!-- Optional theme -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="http://localhost:8000/styleguide/assets/styles/styleguide.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<% if alert.present? %>
  <p class="alert"><%= alert %></p>
<% end %>

<nav class="nav--main">
  <div class="wrapper wrapper--flex">
    <div class="logo-container">
      <span class="logo">
        <%= link_to home_path do%>
          <%= image_tag 'tlc-oneline-white.svg'%>
        <% end %>
      </span>
      <a class="nav--hamburger" id="nav-hamburger"><span></span></a>
    </div>
    <ul class="nav--links wrapper--flex">
      <li class="nav--link-with-sub">
        <%= link_to about_path do %> 
          <span>About</span> <span class="nav--link-arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
        <% end %>
        <ul class="nav--links-sub hidden">
          <li><%= link_to 'How-To Guide', about_path%></li>
          <!-- <li><a href="#">F.A.Q.</a></li> -->
          <!-- <li><a href="#">More Resources</a></li> -->
        </ul>
      </li>
      <li class="nav--link-with-sub">
        <%= link_to lessons_path do %>
          <span>Lessons</span> <span class="nav--link-arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
        <% end %>
        <ul class="nav--links-sub hidden">
          <li><%= link_to 'Browse Lessons', lessons_path %></li>
          <li><%= link_to 'Glossary of terms', glossaries_path%></li>
          <li><%= link_to 'Create New Lesson', new_lesson_path%></li>
        </ul>
      </li>
      <li><a href="#">Workshops</a></li>

      <% if user_signed_in? %>
        <li class="nav--link-with-sub">
          <% if current_user.profile.present? %>
            <%= link_to profile_path(current_user.profile) do %>
              <span>
                <span>
                  <%= image_tag current_user.profile.avatar.url ? current_user.profile.avatar.url(:thumbnail) : '' %>
                </span>
                <span>
                  
                  Hi, <%= current_user.profile.first_name %> 
                </span>
              </span>
              <span class="nav--link-arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
            <% end %>
            <ul class="nav--links-sub hidden">
              <li><%= link_to 'My Profile', profile_path(current_user.profile)%></li>
              <li><%= link_to 'My Lesson Dashboard', my_lesson_dashboard_path(:anchor => 'tab=drafts')%></li>
              <li><%= link_to 'Sign Out',  destroy_user_session_path, method: :delete %></li>
              <% if current_user.admin? %>
                <li><%= link_to 'Admin Dashboard', admin_path(:anchor => 'tab=lessons')%></li>
              <% end %>
            </ul>
          <% else %>
            <%= link_to new_profile_path do %>
              <span>Create Profile</span>
              <span class="nav--link-arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
            <% end %>
            <ul class="nav--links-sub hidden">
              <li><%= link_to 'Create Profile', new_profile_path%></li>
              <li><%= link_to 'Logout',  destroy_user_session_path, method: :delete %></li>
            </ul>
          <% end %>
        </li>
      <% else %>
        <li><%= link_to 'Sign In', new_user_session_path, method: :get%></li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container-codeclubs">
  <%= yield %>
</div>
<footer class="nav--footer">
  <div class="wrapper wrapper--flex">
    <ul class="small-caps main">
        <li><h3>Contact Us</h3></li>
  			<li><a href="http://twitter.com/learningcode" target="_blank">twitter.com/learningcode</a></li>
  			<li><a href="https://www.facebook.com/ladieslearningcode" target="_blank">fb.com/ladieslearningcode</a></li>
  			<li><a href="https://www.instagram.com/learningcode/">instagram.com/learningcode</a></li>
  			<li><a href="mailto:info@teacherslearningcode.com">info@teacherslearningcode.com</a></li>
  	</ul>
    <ul class="small-caps main">
      <li><h3>Support Us</h3></li>
  		<li><a href="http://ladieslearningcode.myshopify.com/" target="_blank">Shop</a></li>
  		<li><a href="http://ladieslearningcode.com/about/#sponsors">Sponsors</a></li>
  		<li>
  			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
  				<input type="hidden" name="cmd" value="_s-xclick">
  				<input type="hidden" name="hosted_button_id" value="36LEPAUDSAMJS">
  				<input class="button-link" type="submit" value="Donate Now">
  			</form>
  		</li>
  		<li><a href="http://ladieslearningcode.com/get-involved/">Get Involved</a></li>
  		<li><a href="http://jobs.ladieslearningcode.com/" target="_blank">Job Board</a></li>
  		<li><a href="http://ladieslearningcode.com/about#press">Press</a></li>
  	</ul>
    <div class="email-form">
      <h3>Join Our Mailing List</h3>
      <p class="small">SIGN UP NOW TO STAY IN THE LOOP</p>
      <%= form_for(@mailing_list) do |f| %>
      <%= f.text_field :email,type: 'email', placeholder: 'enter email here' %>
      <%= f.submit 'subscribe', class: 'button button--primary' %>
      <% end %>
    </div>
  </div>
</footer>
<footer class="nav--sponsor">
  <div class="wrapper">
    <div class="as--creds">
      <p>Development by <a href="http://upatfive.ca" target="_blank">Up at Five</a></p>
      <p>Design by <a href="http://natcooper.com" target="_blank">Nat Cooper</a></p>
      <p>&copy; <a href="http://ladieslearningcode.com" target="_blank">Ladies Learning Code</a></p>
    </div>
    <div class="as--hashtag"><%= image_tag 'tlc-hashtag.svg'%></div>
    <div>
      <p>in partnership with:</p><%= image_tag 'scotiabank-logo-white.svg'%>
    </div>
  </div>
</footer>
<script>
  var openSubMenus = function(){
    var width = $(window).innerWidth()
    if (width > 960) {
      $('.nav--link-with-sub').on('mouseenter', function(){
        var sub = $(this).find('.nav--links-sub')
        console.log(sub)
        $(sub).toggleClass('hidden')
      })
      $('.nav--link-with-sub').on('mouseleave', function(){
        var sub = $(this).find('.nav--links-sub')
        $(sub).toggleClass('hidden')
      })
    } else {
      $('.nav--link-with-sub > a').on('click', function(e){
        e.preventDefault();
        var sub = $(this).next('.nav--links-sub')
        $(sub).toggleClass('hidden')
      })
    } 
  }

  $(document).ready(function(){
    setTimeout(function(){
      $('#notice').remove();
      $('.alert').remove()
    }, 1500);
    $('#nav-hamburger').on('click', function(){
      var width = $(window).innerWidth()
      var wrapper = $('.wrapper').width()
      var left = (width - wrapper) / 2
      if(left == 12 ){
        $('.nav--links').css({'width': width + 'px'});
      }else{
        $('.nav--links').css({'width': width + 'px', 'left': '-'+ left + 'px'});
      }
      console.log(width)
      $('.nav--links').slideToggle(500)
      $(this).toggleClass('active')
    })
    openSubMenus();
    //open and close sub-menus

    // $('.nav--link-with-sub').on('mouseenter', function(){
    //   var sub = $(this).find('.nav--links-sub')
    //   console.log(sub)
    //   $(sub).toggleClass('hidden')
    // })
    // $('.nav--link-with-sub').on('mouseleave', function(){
    //   var sub = $(this).find('.nav--links-sub')
    //   $(sub).toggleClass('hidden')
    // })
  })
</script>
</body>
</html>
